<div class="row my-4">  
    <form [formGroup]="myFormEdif">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-12 mt-1">
                <span>Número de Edificaciones</span>
                <div class="input-group mb-3" style="width: 130px;">
                    <button class="btn btn-outline-secondary text-center fw-bold" 
                            (click)="ctrlNumeroEdificacion(-1)"
                            style="width: 40px;" type="button">-</button>
                    <input type="text" class="form-control border text-center" 
                            [readonly]="readOnly"
                            formControlName="numeroEdificaciones"
                            style="border: 1px solid #dadada;">
                    <button class="btn btn-outline-secondary text-center fw-bold" 
                            (click)="ctrlNumeroEdificacion(1)"
                            style="width: 40px;" type="button">+</button>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12 mt-1 text-end mt-4">
                <button class="btn btn-custom-danger" 
                    (click)="generarEdificaciones()"
                    [disabled]="this.myFormEdif.get('numeroEdificaciones').value == 0">
                    <i class="bi bi-building-gear"></i>&nbsp; Generar Edificaciones      
                </button>
              </div>
            </div>        
          </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
                  <ng-container matColumnDef="Dpto">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Dpto.</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element.codigoDepartamento}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="Prov">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Prov.</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoProvincia}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="Dist">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Dist. </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoDistrito}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="Sec">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Sec. </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoSector}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="Mz">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Mz. </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoManzana}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Lote">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Lote </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoLoteCaracterizacion}} </td>
                  </ng-container>
                    
                  <ng-container matColumnDef="Edifica">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Edifica </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.numeroEdificacion }} </td>
                  </ng-container>                      
              
                  <ng-container matColumnDef="TotalLotes">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Tipo de Edificación</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.nombreEspecifico }} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="NroOrden">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre de Edificación </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.nombreEdificacion }} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.nombreEstado }} </td>
                  </ng-container>

                  <ng-container matColumnDef="seleccion">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                      Acción
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      <button class="btn btn-sm btn-custom btn-outline-secondary"
                          *ngIf="element.codigoEstado != '03'"
                          matTooltip="Editar Edificación"
                          (click)="EditarEdificacion(element)">
                          <i class="bi bi-pencil-fill"></i>
                      </button>&nbsp;
                      <button class="btn btn-sm btn-custom btn-outline-primary"
                        *ngIf="element.codigoEstado == '02'"
                        (click)="TerminarEdificacion(element)" title="Terminar edificación">
                        <i class="bi bi-key-fill"></i>
                      </button>
                    </td>
                  </ng-container>
    
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                </table>     
              </div>           
            </mat-card-content>
        </mat-card>
    </form>
</div>