
    <app-breadcrumb [Data]="BreadcrumbForm"></app-breadcrumb>
    <!-- <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
        Do it!
    </button>
    <button
        [swal]="{ title: 'Save file as...', input: 'text', showDenyButton: true, denyButtonText: 'Don\'t save', showCancelButton: true }"
        (confirm)="saveFile($event)"
        (deny)="handleDenial()"
        (dismiss)="handleDismiss($event)">Save
    </button>

    <button [swal]="deleteSwal" (confirm)="deleteFile(file)">
        Delete {{ file.name }}
      </button>
      
      <swal #deleteSwal title="Delete {{ file.name }}?" etc></swal>

      <swal
      #deleteSwal2
      title="Delete {{ file.name }}?"
      text="This cannot be undone"
      icon="question"
      [showCancelButton]="true"
      [focusCancel]="true"
      [allowOutsideClick]="false"
      (confirm)="deleteFile(file)">
    </swal>      
    <button [swal]="deleteSwal2">Delete Prueba 2</button>


    <button (click)="deleteSwal2.fire()">Delete Prueba 3</button>

    <button class="btn btn-primary btn-sm" (click)="Prueba()">Prueba</button> -->

    <app-title [Data]="tituloForm"></app-title>

    <app-panel-filter></app-panel-filter>

    <app-datatableFI></app-datatableFI>


  