<app-breadcrumb [Data]="BreadcrumbForm"></app-breadcrumb>

<app-title [Data]="tituloForm"></app-title>

<div class="col-md-12 my-3">
  
    <mat-card class="border_title">

        <mat-card-content class="border_title bg-secondary-subtle">      
          <mat-stepper class="example-stepper"  orientation="vertical" #Stepper > <!--linear-->
            <mat-step [stepControl]="firstFormGroup" 
                label="Código de Referencia Catastral" [completed]="firstComplete">
                <div class="container-sm">                  
                  <app-code-reference (firstComplete)="Step1Complete($event)"
                                      [codRefCatastral]="codRefCatastral"
                                      [Stepper] = "Stepper"></app-code-reference>
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" 
                label="Ubicación del Predio Catastral" [completed]="secondComplete">           
                <div class="container-sm">
                  <app-property-location  (secondComplete)="Step2Complete($event)"                                          
                                          [idFicha] = "idFicha"
                                          [listaVias]="listaVias"
                                          [Stepper] = "Stepper"></app-property-location>
                </div>        
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" 
                label="Características de la Titularidad" [completed]="thirdComplete">
                <div class="container-sm">
                  <app-ownership-characteristics (thirdComplete)="Step3Complete($event)"
                                                 [idFicha] = "idFicha"
                                                 [Stepper] = "Stepper"></app-ownership-characteristics>
                </div>  
            </mat-step>
            <mat-step [stepControl]="roomFormGroup" *ngIf="verPaso4"
                label="Identificación del Titular Catastral" [completed]="roomComplete">
                <div class="container-sm">
                  <app-identity-owner (roomComplete)="Step4Complete($event)"
                                      [idFicha] = "idFicha"
                                      [Stepper] = "Stepper"></app-identity-owner>
                </div>
            </mat-step>            
            <mat-step [stepControl]="fifthFormGroup" 
                label="Descripción del Predio" [completed]="fifthComplete">
                <div class="container-sm">
                  <app-description-property (fifthComplete)="Step5Complete($event)"
                                            [idFicha] = "idFicha"
                                            [Stepper] = "Stepper"></app-description-property>
                </div>
            </mat-step>
            <mat-step [stepControl]="sixthFormGroup" 
                label="Construcciones" [completed]="sixthComplete">
                <div class="container-sm mt-4">
                  <div class="alert alert-warning" role="alert">
                    FORMULARIO EN CONSTRUCCION
                  </div>
                </div>
            </mat-step>
            <mat-step [stepControl]="seventhFormGroup" 
                label="Obras Complementarias / Otras Instalaciones" [completed]="seventhComplete">
                <div class="container-sm mt-4">
                  <div class="alert alert-warning" role="alert">
                    FORMULARIO EN CONSTRUCCION
                  </div>
                </div>
            </mat-step>
          </mat-stepper>
        </mat-card-content>

    </mat-card>
</div>
  