<app-breadcrumb [Data]="BreadcrumbForm"></app-breadcrumb>

<app-title [Data]="tituloForm"></app-title>

<div class="col-md-12 my-3">
  
    <mat-card class="border_title">

        <mat-card-content class="border_title bg-secondary-subtle">      
          <mat-stepper class="example-stepper"  orientation="vertical" #Stepper > <!--linear-->
            <mat-step [stepControl]="firstFormGroup" 
                label="Código de Referencia Catastral" [completed]="firstComplete">
                <div class="container-sm">                  
                  <!-- <app-code-reference (firstComplete)="Step1Complete($event)"
                                      (outputSeccion) = "InfoSeccion1($event)"
                                      [inputSeccion]="Seccion1"                                      
                                      [Stepper] = "Stepper"></app-code-reference> -->
                  <app-code-reference (outputSeccion) = "InfoSeccion1($event)"
                                      [inputSeccion]="Seccion1"></app-code-reference>
                  
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" 
                label="Ubicación del Predio Catastral" [completed]="secondComplete">           
                <div class="container-sm">
                  <!-- <app-property-location  (secondComplete)="Step2Complete($event)"
                                          [idFicha] = "idFicha"
                                          [listaVias]="listaVias"
                                          [Stepper] = "Stepper"></app-property-location> -->
                  <app-property-location  (outputSeccion) = "InfoSeccion2($event)"
                                          [listaVias]="listaVias"
                                          [inputSeccion]="Seccion2"></app-property-location>                            
                </div>        
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" 
                label="Características de la Titularidad" [completed]="thirdComplete">
                <div class="container-sm">
                  <app-ownership-characteristics (thirdComplete)="Step3Complete($event)"
                                                 (outputSeccion) = "InfoSeccion3($event)"
                                                 [inputSeccion]="Seccion3"></app-ownership-characteristics>
                </div>  
            </mat-step>
            <mat-step [stepControl]="roomFormGroup" *ngIf="verPaso4"
                label="Identificación del Titular Catastral" [completed]="roomComplete">
                <div class="container-sm">
                  <app-identity-owner (roomComplete)="Step4Complete($event)"
                                      [Stepper] = "Stepper"
                                      (outputSeccion) = "InfoSeccion4($event)"
                                      [inputSeccion]="Seccion4"></app-identity-owner>
                </div>
            </mat-step>            
            <mat-step [stepControl]="fifthFormGroup" 
                label="Descripción del Predio" [completed]="fifthComplete">
                <div class="container-sm">
                  <app-description-property (outputSeccion) = "InfoSeccion5($event)"
                                            [inputSeccion]="Seccion5"
                                            [Stepper] = "Stepper"></app-description-property>
                </div>
            </mat-step>
            <mat-step [stepControl]="sixthFormGroup" 
                label="Construcciones" [completed]="sixthComplete">
                <div class="container-sm">
                  <app-buildings (sixthComplete)="Step6Complete($event)"
                                  (outputSeccion) = "InfoSeccion6($event)"
                                  [inputSeccion]="Seccion6"
                                  [Stepper] = "Stepper"></app-buildings>
                </div>
            </mat-step>
            <mat-step [stepControl]="seventhFormGroup" 
                label="Obras Complementarias / Otras Instalaciones" [completed]="seventhComplete">
                <div class="container-sm">
                  <app-additional-works (seventhComplete)="Step7Complete($event)"
                                        (outputSeccion) = "InfoSeccion7($event)"
                                        [inputSeccion]="Seccion7"
                                        [Stepper] = "Stepper"></app-additional-works>
                </div>
            </mat-step>
          </mat-stepper>
          <div class="row mt-3 py-6">
            <div class="col col-12 text-end">
              <button class="btn btn-primary btn-sm bg-cofopri"
              (click)="Guardar()">
              <i class="bi bi-database-check"></i>&nbsp;Guardar
              </button>
            </div>
          </div>          
        </mat-card-content>
    </mat-card>
</div>
  