.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.ancho-column{
  width: 30px;
}
.alto-column{
  height: 30px;
}
.mat-step-icon-selected{
  background-color: #15448b;
  color: white;
}