<div class="row my-4">
  <mat-card>
    <mat-card-content>
      <div class="row my-4">
        <div class="col-md-12 text-end">
          <button class="btn btn-sm btn-custom btn-outline-primary" style="margin-top: -15px;"
              (click)="regresar()">
              Regresar&nbsp;<i class="bi bi-arrow-return-left"></i>
          </button>
        </div>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
          <ng-container matColumnDef="Dpto">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Dpto.</th>
            <td mat-cell *matCellDef="let element" class="text-center">{{element.codigoDepartamento}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Prov">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Prov.</th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoProvincia}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Dist">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Dist. </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoDistrito}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Sec">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Sec. </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoSector}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Mz">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Mz. </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.manzanaUrbana}} </td>
          </ng-container>

          <ng-container matColumnDef="Lote">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Lote </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.loteUrbano}} </td>
          </ng-container>
            
          <ng-container matColumnDef="Edifica">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Edifica </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.numeroEdificacion }} </td>
          </ng-container>                      
      
          <ng-container matColumnDef="Entrada">
            <th mat-header-cell *matHeaderCellDef class="text-center">Entrada</th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoVia }} </td>
          </ng-container>
      
          <ng-container matColumnDef="Piso">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Piso </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.numeroPiso }} </td>
          </ng-container>

          <ng-container matColumnDef="Unidad">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Unidad </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.numeroUnidadAdministrativa }} </td>
          </ng-container>

          <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.nombreEstado }} </td>
          </ng-container>

          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Acción
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <!-- <button class="btn btn-sm btn-custom btn-outline-primary" style="margin-top: -15px;"
                (click)="VerUnidad(element)" [autoClose]="true" [popoverClass]="poperSICU"
                placement="bottom-end" [ngbPopover]="popContent" [poppoverTitle]="title">
                <i class="bi bi-chat-text"></i>
              </button> -->
              <button mat-icon-button 
                [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="TerminarUnidadAdmin(element)">
                  <mat-icon>assignment_add</mat-icon>
                  <span>Terminar Unidad Adm.</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>     
      </div>   
      <div class="row my-4">
          <div class="col-md-2" style="position: relative;">
            <div class="d-flex flex-row mb-3" (click)="getIndex(1)">
              <div class="p-2" style="z-index: 2;">
                <div class="rounded-circle circle_active text-center"
                  [class.circle_active]="index == 1"
                  [class.circle_inactive]="index != 1">1
                </div>
              </div>
              <div class="p-2 color-dato mt-2 fw-bold" 
                [class.color-dato]="index == 1"
                [class.color-title]="index != 1"
                style="font-size: 1rem;">Vincular Unidad
              </div>
            </div>
            <div class="d-flex flex-row mb-3" (click)="getIndex(2)">
              <div class="p-2" style="z-index: 2;">
                <div class="rounded-circle circle_inactive text-center"
                    [class.circle_active]="index == 2"
                    [class.circle_inactive]="index != 2">2
                </div>
              </div>
              <div class="p-2 color-title mt-2 fw-bold" 
                [class.color-dato]="index == 2"
                [class.color-title]="index != 2"
                style="font-size: 1rem;">Titularidad
              </div>
            </div>  
            <div class="d-flex flex-row mb-3" (click)="getIndex(3)">
              <div class="p-2" style="z-index: 2;">
                <div class="rounded-circle circle_inactive text-center"
                  [class.circle_active]="index == 3"
                  [class.circle_inactive]="index != 3">3
                </div>
              </div>
              <div class="p-2 color-title mt-2 fw-bold" 
                [class.color-dato]="index == 3"
                [class.color-title]="index != 3"
                style="font-size: 1rem;">Unidad
              </div>
            </div>
            <div class="d-flex flex-row mb-3" (click)="getIndex(4)">
              <div class="p-2" style="z-index: 2;">
                <div class="rounded-circle circle_inactive text-center"
                  [class.circle_active]="index == 4"
                  [class.circle_inactive]="index != 4">4
                </div>
              </div>
              <div class="p-2 color-title mt-2 fw-bold" 
                [class.color-dato]="index == 4"
                [class.color-title]="index != 4"
                style="font-size: 1rem;">Construcciones
              </div>
            </div>
            <div class="d-flex flex-row mb-3" (click)="getIndex(5)">
              <div class="p-2" style="z-index: 2;">
                <div class="rounded-circle circle_inactive text-center"
                  [class.circle_active]="index == 5"
                   [class.circle_inactive]="index != 5">5
                </div>
              </div>
              <div class="p-2 color-title mt-1 fw-bold" 
                [class.color-dato]="index == 5"
                [class.color-title]="index != 5"
                style="font-size: 1rem;">Otras Instalaciones
              </div>
            </div>
            <div class="line_circle">&nbsp;</div>      
          </div>
          <div class="col-md-10">
            <router-outlet></router-outlet>
          </div>
      </div>        
    </mat-card-content>
</mat-card>
</div>