<!-- <h1 mat-dialog-title class="bg-cofopri text-white">Sistema de Información Catastral Urbano</h1> -->
<div style="background-color: #ff0000;">
    <!-- <div mat-card-header>
        <mat-progress-bar mode="indeterminate">
        </mat-progress-bar>
    </div> -->
    <div mat-dialog-content style="font-size: 0.9rem; ">
        <!-- <div class="container">
            <div class="row">
                <div class="col col-12 text-center position-relativo">
                    <div class="spinner-border text-cofopri" style="width: 3.2rem; height: 3.2rem;" role="status">
                        <span class="visually-hidden">Loading...</span>                    
                    </div>
                    <div class="d-flex justify-content-center">
                        <mat-card-header class="position-absolute" style="top: 34px;">
                            <div mat-card-avatar class="circle-header-image"></div>
                        </mat-card-header>
                    </div>
                
                </div>
            </div>
            
    
        </div>  -->
        <div class="d-flex justify-content-center">
            <!-- <div class="position-absolute spinner-border text-cofopri" style="top: 18px; width: 3.2rem; height: 3.2rem; z-index: 999;" role="status">
                <span class="visually-hidden">Loading...</span>                    
            </div> -->
            <mat-card-header class="position-absolute" style="top: 4px; z-index: 999;">
                <div mat-card-avatar class="circle-header-image"></div>
            </mat-card-header>
            <span class="fw-medium position-absolute mensaje" style="top:4rem">Procesando la solicitud...</span>
            <!-- <span class="fw-medium position-absolute mensaje" style="bottom: 8px;">{{data.Title}}</span> -->
        </div>     
        <!-- <span class="text-light">Registrando ficha catastral individual urbana...</span> -->
    </div>
    <!-- <div mat-card-footer style="z-index: 1;">
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </div>     -->
</div>
<!-- <mat-progress-bar mode="indeterminate" color="primary" class="z-index:1; position-absolute" style="bottom: 0px;">

</mat-progress-bar> -->
<mat-progress-bar mode="indeterminate" color="primary">    
</mat-progress-bar>
<!-- <span>Registrando ficha catastral individual urbana...</span> -->


