<div style="background-color:rgb(0, 0, 0);">
    <footer class="jumbotron">
        <div class="text-center text-white">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-6 py-3">
                        <mat-chip-listbox aria-label="lista">
                            <mat-chip color="accent">
                                © COFOPRI 2023, Todos los derechos reservados
                            </mat-chip>
                        </mat-chip-listbox> 
                    </div>
                    <div class="col-md-6 py-3">
                        <ul class="nav justify-content-end text-white">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">Politicas de seguridad</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Términos del servicio</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Privacidad</a>
                            </li>
                          </ul>
                    </div>
                    <!-- <div class="col-md-6 py-3">
                        <div class="text-right">
                            <mat-chip-listbox aria-label="lista">
                                <mat-chip>
                                    Terminos del Servicio
                                </mat-chip>
                                <mat-chip color="primary">
                                    Politicas de Privacidad
                                </mat-chip>
                              </mat-chip-listbox> 
                        </div>
                    </div> -->
                </div>
                <!-- <div class="text-center mb-2">
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="google"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                    </a>
                </div> -->
            </div>
        </div>
    </footer>
    <!-- <footer class="jumbotron">
        <div class="text-center text-white">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 mt-2">
                        <p>
                            dfsdfsdfsdf
                        </p>
                    </div>
                </div>
                <div class="text-center mb-2">
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="google"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                    </a>
                    <a href="" class="text-white me-4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </footer> -->
</div>