<div class="row mt-4">
  <div class="col-12">
    <table class="table table-sm table-bordered border-dark" style="font-size: 11px;">
      <thead class="m-2">
        <tr>
          <td colspan="12" class="bg-secondary-subtle px-3">
            <button type="button" class="btn btn-sm btn-success rounded-pill"
            [class.btn-success]="titleBtn == 'Agregar'"
            [class.btn-primary.bg-cofopri]="titleBtn == 'Modificar'"
            title="{{titleBtn}} código de referencia catastral" (click)="Agregar()">
            <i class="bi bi-plus-circle"
                [class.bi-plus-circle]="titleBtn == 'Agregar'"
                [class.bi-pencil]="titleBtn == 'Modificar'"></i>&nbsp;{{titleBtn}}
          </button>            
          </td>
        </tr>
      </thead>
      <tbody>                        
        <tr>
          <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">21</th>
          <td class="text-center bg-info" style="width:130px">CONDICIÓN DEL TITULAR</td>
          <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">22</th>
          <td class="text-center bg-info" style="width:150px">FORMA DE ADQUISIÓN</td>
          <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">23</th>
          <td class="text-center bg-info" style="width:130px">TIPO DE DOCUMENTO</td>
          <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">24</th>
          <td class="text-center bg-info" style="width:110px">TIPO DE PARTIDA REGISTRAL</td>
          <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">25</th>
          <td class="text-center bg-info" style="width:110px">NÚMERO</td>
        </tr>
        <tr>
          <td colspan="2">{{info.CondicionTitular}}</td>
          <td colspan="2">{{info.FormaAdquision}}</td>
          <td colspan="2">{{info.IdTipoDocumento != 0 ? info.TipoDocumento : '-'}}</td>
          <td colspan="2">{{info.IdTipoPartidaRegistral != 0 ? info.TipoPartidaRegistral : '-'}}</td>
          <td colspan="2">{{info.NumeroPartidaRegistral}}</td>
        </tr>
      </tbody>
      <!-- <tfoot *ngIf="progress">
        <tr>
          <td colspan="24"><span style="font-size: 0.85rem;">Guardando las características de la titularidad...</span>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </td>
        </tr>            
      </tfoot> -->
    </table>                                                
  </div>
</div>
<!-- <mat-divider></mat-divider>
<div class="row mt-3">
  <div class="col col-12 text-end">
    <button class="btn btn-primary btn-sm bg-cofopri" style="width: 175px;" 
    [disabled]="btnNextDisabled" (click)="goNext()">
    <i class="bi bi-database-check"></i>&nbsp;Guardar y continuar...
  </button>  
  </div>
</div> -->