<app-network-status></app-network-status>
<div class="d-flex justify-content-center
align-items-center vh-100" style="background-color: rgb(88, 89, 91);">

<form (submit)="login()"  name="loginForm" [formGroup]="loginForm">
    <div class="p-4 rounded-4 shadow-md"
        style="width: 30rem; background-color: rgb(88, 89, 91);">
        <mat-card>
            <mat-card-header>
                <div class="circle-header-image"></div>
            </mat-card-header>
        </mat-card>
        <mat-card class="mt-2">
            <mat-card-header>
                <mat-card-title class="text-center fs-6 mx-2 display-6">SISTEMA DE INFORMACIÓN CATASTRAL URBANO</mat-card-title>
                <mat-card-subtitle class="text-start text-secondary m-2">Introduzca sus datos a continuación:</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="user-input p-2">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input formControlName="usuario" matInput required />
                        <mat-error *ngIf="Usuario.errors?.['required']">
                            El usuario es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="user-input p-2">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" 
                        (keydown.enter)="$event.preventDefault()"/>
                        <button mat-icon-button matSuffix (click)="hide = !hide; $event.preventDefault()" tabindex="-1"
                            [attr.aria-label]="'Hide Password'" [attr.aira-pressed]="hide"
                            (keydown.enter)="$event.preventDefault()">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="Password.errors?.['required']">
                            El password es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mx-2">
                    <div style="text-align: right;">
                        <a href="#" class="text-decoration-none text-danger
                        fst-italic" style="font-size: 0.9rem;">Olvidó su contraseña?</a>
                    </div>
                </div>
                <button class="btn btn-sm btn-danger bg-cofopri w-100 mt-1 fw-semibold
                shadow-sm" type="submit" *ngIf="!offline">Iniciar Sesión                    
                </button>
            </mat-card-content>
        </mat-card>
        <mat-card class="mt-2" *ngIf="loginError || viewProgress">
            <mat-card-content>
                <mat-card-footer *ngIf="viewProgress" class="m-1">{{msgStatus}}
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
                <div  *ngIf="!viewProgress" class="user-input p-2" style="text-align:left;">
                    <div class="text-danger">{{ loginError }}</div>
                </div> 
            </mat-card-content>
        </mat-card>
    </div>
</form>



</div>