.full-width {
    width: 100%;
 }
 .header-image {
    background-image: url('../../../assets/image/logotipo2.png');
    background-size: cover;
    height: 110px;
    width: 380px;
    flex-shrink: 0;
    margin-bottom: 20px;
    object-fit: cover;
  }