
    <div class="col-md-12 my-3">
        <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0">
              <mat-expansion-panel-header 
              [collapsedHeight]="customCollapsedHeight" 
              [expandedHeight]="customExpandedHeight">
                <mat-panel-title>
                  Filtros de búsqueda
                </mat-panel-title>        
              </mat-expansion-panel-header>
              <mat-form-field hintLabel="Máximo 6 caracteres" class="text-cofopri">
                <mat-label>Número Ficha</mat-label>
                <input matInput #input maxlength="6" [(ngModel)]="NumeroFicha">
                <mat-hint align="end">{{input.value.length}}/6</mat-hint>
              </mat-form-field>
              <mat-form-field class="text-cofopri">
                <mat-label>Ficha por lote</mat-label>
                <input matInput #input [(ngModel)]="FichaLote">
              </mat-form-field>
              <mat-form-field hintLabel="Máximo 12 caracteres" class="text-cofopri">
                <mat-label>Código Único Catastral</mat-label>
                <input matInput #input maxlength="12"  [(ngModel)]="CUC">
                <mat-hint align="end">{{input.value.length}}/12</mat-hint>
              </mat-form-field>
              <mat-form-field color="primary" class="text-cofopri">
                <mat-label>Condición Titular</mat-label>
                <mat-select [(ngModel)]="IdCondicionTitular">
                  <mat-option value="1">Propietario Único</mat-option>
                  <mat-option value="2">Sucesión Intestada</mat-option>
                  <mat-option value="3">Poseedor</mat-option>
                  <mat-option value="4">Sociedad Conyugal</mat-option>
                  <mat-option value="5">Cotitularidad</mat-option>
                  <mat-option value="6">Litigio</mat-option>
                  <mat-option value="7">Otros</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field color="primary" class="text-cofopri">
                <mat-label>Tipo de Titular</mat-label>
                <mat-select [(ngModel)]="IdTipoTitular">
                  <mat-option value="1">Persona Natural</mat-option>
                  <mat-option value="2">Persona Juridica</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="primary" class="bg-cofopri ms-2" 
              style="background-color: #15448b; margin-top: -15px;" (click)="buscar()">
                <mat-icon>search</mat-icon>
                Buscar
              </button>
            </mat-expansion-panel>
        </mat-accordion>        
    </div>

  