<form [formGroup]="form" (ngSubmit)="guardar()">
  <h1 mat-dialog-title class="bg-cofopri text-white">Identificación del Titular Catastral</h1>
  <div mat-dialog-content class="px-4" style="font-size: 0.9rem;">
    <div class="row my-2">  
      <mat-tab-group>
        <mat-tab label="Titular">
          <div class="container-sm" style="border: 2px solid #cde1ff;">
              <div class="row mt-2">
                <div class="col col-5">
                  Estado Civil:
                </div>
                <div class="col col-7" style="position: relative;">
                  <select name="estadocivil" #SelEstCivil
                          formControlName="estadocivil"
                          class="form-select form-select-sm border focus-ring" 
                          [class.border-success]="this.form.get('estadocivil')?.valid"
                          [class.focus-ring-success]="this.form.get('estadocivil')?.valid"
                          [class.border-danger]="this.form.get('estadocivil')?.invalid && this.form.get('estadocivil')?.touched"
                          [class.focus-ring-danger]="this.form.get('estadocivil')?.invalid && this.form.get('estadocivil')?.touched"
                          aria-label="select-estadocivil" [pattern]="pattern1Digs">
                          <option *ngFor="let cv of listEstadoCivil" [value]="cv.value">{{ cv.text }}</option>
                  </select>
                  <i *ngIf="this.form.get('estadocivil')?.invalid && this.form.get('estadocivil')?.touched" 
                          class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                          title="Campo requerido"></i>
                </div>
              </div>
              <div class="row my-2">
                <div class="col col-5 mt-1">
                  Tipo Doc. Identidad:
                </div>
                <div class="col col-7" style="position: relative;">
                  <select name="tipodocidentidad" #SelDocIdent
                          formControlName="tipodocidentidad"
                          class="form-select form-select-sm border focus-ring" 
                          [class.border-success]="this.form.get('tipodocidentidad')?.valid"
                          [class.focus-ring-success]="this.form.get('tipodocidentidad')?.valid"
                          [class.border-danger]="this.form.get('tipodocidentidad')?.invalid && this.form.get('tipodocidentidad')?.touched"
                          [class.focus-ring-danger]="this.form.get('tipodocidentidad')?.invalid && this.form.get('tipodocidentidad')?.touched"
                          aria-label="select-tipodocidentidad" [pattern]="pattern1Digs">
                          <option *ngFor="let cv of listTipoDocIdent" [value]="cv.value">{{ cv.text }}</option>
                  </select>
                  <i *ngIf="this.form.get('tipodocidentidad')?.invalid && this.form.get('tipodocidentidad')?.touched" 
                          class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                          title="Campo requerido"></i>                      
                </div>
              </div>
              <div class="row my-2">
                <div class="col col-5 mt-1">
                  Nro. Doc. Identidad:
                </div>
                <div class="col col-7" style="position: relative;">
                  <input type="text" formControlName="nrodocidentidad"
                        class="form-control form-control-sm border focus-ring"
                        [class.border-success]="this.form.get('nrodocidentidad')?.valid"
                        [class.focus-ring-success]="this.form.get('nrodocidentidad')?.valid"
                        [class.border-danger]="this.form.get('nrodocidentidad')?.invalid && this.form.get('nrodocidentidad')?.touched"
                        [class.focus-ring-danger]="this.form.get('nrodocidentidad')?.invalid && this.form.get('nrodocidentidad')?.touched">                        
                </div>
              </div>
              <div class="row my-2">
                <div class="col col-5 mt-1">
                  Nombres:
                </div>
                <div class="col col-7" style="position: relative;">
                  <input type="text" formControlName="nombres"
                        class="form-control form-control-sm border focus-ring"
                        [class.border-success]="this.form.get('nombres')?.valid"
                        [class.focus-ring-success]="this.form.get('nombres')?.valid"
                        [class.border-danger]="this.form.get('nombres')?.invalid && this.form.get('nombres')?.touched"
                        [class.focus-ring-danger]="this.form.get('nombres')?.invalid && this.form.get('nombres')?.touched">                        
                </div>
              </div>
              <div class="row my-2">
                <div class="col col-5 mt-1">
                  Apellido Paterno:
                </div>
                <div class="col col-7" style="position: relative;">
                  <input type="text" formControlName="apellidopaterno"
                        class="form-control form-control-sm border focus-ring"
                        [class.border-success]="this.form.get('apellidopaterno')?.valid"
                        [class.focus-ring-success]="this.form.get('apellidopaterno')?.valid"
                        [class.border-danger]="this.form.get('apellidopaterno')?.invalid && this.form.get('apellidopaterno')?.touched"
                        [class.focus-ring-danger]="this.form.get('apellidopaterno')?.invalid && this.form.get('apellidopaterno')?.touched">                        
                </div>
              </div>
              <div class="row my-2">
                <div class="col col-5 mt-1">
                  Apellido Materno:
                </div>
                <div class="col col-7" style="position: relative;">
                  <input type="text" formControlName="apellidomaterno"
                        class="form-control form-control-sm border focus-ring"
                        [class.border-success]="this.form.get('apellidomaterno')?.valid"
                        [class.focus-ring-success]="this.form.get('apellidomaterno')?.valid"
                        [class.border-danger]="this.form.get('apellidomaterno')?.invalid && this.form.get('apellidomaterno')?.touched"
                        [class.focus-ring-danger]="this.form.get('apellidomaterno')?.invalid && this.form.get('apellidomaterno')?.touched">                        
                </div>
              </div>     
          </div>
        </mat-tab>
        <mat-tab label="Cónyuge" class="bg-cofopri text-cofopri" *ngIf="conConyuge">
          <div class="container-sm"  style="border: 2px solid #cde1ff;">
            <div class="row my-2">
              <div class="col col-5 mt-1">
                Tipo Doc. Identidad:
              </div>
              <div class="col col-7" style="position: relative;">
                <select name="tipodocidentidadconyuge" #SelDocIdent
                        formControlName="tipodocidentidadconyuge"
                        class="form-select form-select-sm border focus-ring" 
                        [class.border-success]="this.form.get('tipodocidentidadconyuge')?.valid"
                        [class.focus-ring-success]="this.form.get('tipodocidentidadconyuge')?.valid"
                        [class.border-danger]="this.form.get('tipodocidentidadconyuge')?.invalid && this.form.get('tipodocidentidadconyuge')?.touched"
                        [class.focus-ring-danger]="this.form.get('tipodocidentidadconyuge')?.invalid && this.form.get('tipodocidentidadconyuge')?.touched"
                        aria-label="select-tipodocidentidadconyuge" [pattern]="pattern1Digs">
                        <option *ngFor="let cv of listTipoDocIdentConyuge" [value]="cv.value">{{ cv.text }}</option>
                </select>
                <i *ngIf="this.form.get('tipodocidentidadconyuge')?.invalid && this.form.get('tipodocidentidadconyuge')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>                      
              </div>
            </div>
            <div class="row my-2">
              <div class="col col-5 mt-1">
                Nro. Doc. Identidad:
              </div>
              <div class="col col-7" style="position: relative;">
                <input type="text" formControlName="nrodocidentidadconyuge"
                      class="form-control form-control-sm border focus-ring"
                      [class.border-success]="this.form.get('nrodocidentidadconyuge')?.valid"
                      [class.focus-ring-success]="this.form.get('nrodocidentidadconyuge')?.valid"
                      [class.border-danger]="this.form.get('nrodocidentidadconyuge')?.invalid && this.form.get('nrodocidentidadconyuge')?.touched"
                      [class.focus-ring-danger]="this.form.get('nrodocidentidadconyuge')?.invalid && this.form.get('nrodocidentidadconyuge')?.touched"
                      >                        
              </div>
            </div>
            <div class="row my-2">
              <div class="col col-5 mt-1">
                Nombres:
              </div>
              <div class="col col-7" style="position: relative;">
                <input type="text" formControlName="nombresconyuge"
                      class="form-control form-control-sm border focus-ring"
                      [class.border-success]="this.form.get('nombresconyuge')?.valid"
                      [class.focus-ring-success]="this.form.get('nombresconyuge')?.valid"
                      [class.border-danger]="this.form.get('nombresconyuge')?.invalid && this.form.get('nombresconyuge')?.touched"
                      [class.focus-ring-danger]="this.form.get('nombresconyuge')?.invalid && this.form.get('nombresconyuge')?.touched">                        
              </div>
            </div>
            <div class="row my-2">
              <div class="col col-5 mt-1">
                Apellido Paterno:
              </div>
              <div class="col col-7" style="position: relative;">
                <input type="text" formControlName="apellidopaternoconyuge"
                      class="form-control form-control-sm border focus-ring"
                      [class.border-success]="this.form.get('apellidopaternoconyuge')?.valid"
                      [class.focus-ring-success]="this.form.get('apellidopaternoconyuge')?.valid"
                      [class.border-danger]="this.form.get('apellidopaternoconyuge')?.invalid && this.form.get('apellidopaternoconyuge')?.touched"
                      [class.focus-ring-danger]="this.form.get('apellidopaternoconyuge')?.invalid && this.form.get('apellidopaternoconyuge')?.touched">                        
              </div>
            </div>
            <div class="row my-2">
              <div class="col col-5 mt-1">
                Apellido Materno:
              </div>
              <div class="col col-7" style="position: relative;">
                <input type="text" formControlName="apellidomaternoconyuge"
                      class="form-control form-control-sm border focus-ring"
                      [class.border-success]="this.form.get('apellidomaternoconyuge')?.valid"
                      [class.focus-ring-success]="this.form.get('apellidomaternoconyuge')?.valid"
                      [class.border-danger]="this.form.get('apellidomaternoconyuge')?.invalid && this.form.get('apellidomaternoconyuge')?.touched"
                      [class.focus-ring-danger]="this.form.get('apellidomaternoconyuge')?.invalid && this.form.get('apellidomaternoconyuge')?.touched">                        
              </div>
              <br>
              <br>
              <br>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>  
    </div>
    
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">  
    <button type="submit" class="btn btn-sm btn-primary bg-cofopri text-white" 
            [disabled]="form.invalid"
            (click)="guardar()"><i class="bi bi-plus-circle"></i>&nbsp;Agregar</button>
    <button class="btn btn-sm btn-default" mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>