<form [formGroup]="form" (ngSubmit)="guardar()">
  <h1 mat-dialog-title class="bg-cofopri text-white">Edificación y Habilitación Urbana</h1>
  <div mat-dialog-content class="px-4" style="font-size: 0.9rem;">
    <div class="row my-2">    
        <div class="col-12 mt-1">
          <div class="card">
            <div class="card-header">
              Edificación
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  Tipo Interior:
                </div>
                <div class="col-8" style="position: relative;">
                  <select name="tipointerior" #SelTipointerior
                          formControlName="tipointerior"
                          (change)="onChangeSelTipointerior(SelTipointerior.value, false)"
                          class="form-select form-select-sm border focus-ring" 
                          [class.border-success]="this.form.get('tipointerior')?.valid"
                          [class.focus-ring-success]="this.form.get('tipointerior')?.valid"
                          [class.border-danger]="this.form.get('tipointerior')?.invalid && this.form.get('tipointerior')?.touched"
                          [class.focus-ring-danger]="this.form.get('tipointerior')?.invalid && this.form.get('tipointerior')?.touched"
                          aria-label="select-tipointerior" [pattern]="pattern1Digs">
                          <option *ngFor="let cv of listTipointerior" [value]="cv.value">{{ cv.text }}</option>
                  </select>
                  <i *ngIf="this.form.get('tipointerior')?.invalid && this.form.get('tipointerior')?.touched" 
                          class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                          title="Campo requerido"></i>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-4 mt-1">
                  Nro. Interior:
                </div>
                <div class="col-8" style="position: relative;">
                  <input type="text" formControlName="numerointerior"
                        class="form-control form-control-sm border focus-ring"
                        [class.border-success]="this.form.get('numerointerior')?.valid"
                        [class.focus-ring-success]="this.form.get('numerointerior')?.valid"
                        [class.border-danger]="this.form.get('numerointerior')?.invalid && this.form.get('numerointerior')?.touched"
                        [class.focus-ring-danger]="this.form.get('numerointerior')?.invalid && this.form.get('numerointerior')?.touched">                        
                </div>
              </div>
            </div>
          </div>    
        </div>
        <div class="col-12 mt-2">
          <div class="card">
            <div class="card-header">
              Habilitación Urbana
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4 mt-1">
                  Lote:
                </div>
                <div class="col-8" style="position: relative;">
                  <input type="text" formControlName="lote"
                        class="form-control form-control-sm border focus-ring"
                        [class.border-success]="this.form.get('lote')?.valid"
                        [class.focus-ring-success]="this.form.get('lote')?.valid"
                        [class.border-danger]="this.form.get('lote')?.invalid && this.form.get('lote')?.touched"
                        [class.focus-ring-danger]="this.form.get('lote')?.invalid && this.form.get('lote')?.touched">
                </div>
              </div>
              <div class="row my-2">
                <div class="col-4 mt-1">
                  Sub-Lote:
                </div>
                <div class="col-8" style="position: relative;">
                  <input type="text" formControlName="sublote"
                        class="form-control form-control-sm border focus-ring"
                        [class.border-success]="this.form.get('sublote')?.valid"
                        [class.focus-ring-success]="this.form.get('sublote')?.valid"
                        [class.border-danger]="this.form.get('sublote')?.invalid && this.form.get('sublote')?.touched"
                        [class.focus-ring-danger]="this.form.get('sublote')?.invalid && this.form.get('sublote')?.touched">
                  <i *ngIf="this.form.get('sublote')?.invalid && this.form.get('sublote')?.touched" 
                        class="position-icon-input fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>                        
                </div>
              </div>
            </div>
          </div>          
        </div>
    </div>
    
  </div>
  <!-- [disabled]="form.invalid" -->
  <div mat-dialog-actions class="d-flex justify-content-end">  
    <button type="submit" class="btn btn-sm btn-primary bg-cofopri text-white" 
            [disabled]="form.invalid"
            (click)="guardar()"><i class="bi bi-plus-circle"></i>&nbsp;Agregar</button>
    <button class="btn btn-sm btn-default" mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>