<form [formGroup]="form">
  <div class="row my-4">
    <div class="col-12">
      <table class="table table-sm table-bordered border-dark" style="font-size: 11px;">
        <thead class="m-2">
          <tr>
            <td colspan="20" class="bg-secondary-subtle px-3">
              <button type="button" class="btn btn-sm btn-success rounded-pill"
                [class.btn-success]="titleBtn == 'Agregar'" 
                [class.btn-primary.bg-cofopri]="titleBtn == 'Modificar'"
                title="Agregar" (click)="Agregar()">
                <i class="bi bi-plus-circle"
                    [class.bi-plus-circle]="titleBtn == 'Agregar'"
                    [class.bi-pencil]="titleBtn == 'Modificar'"></i>&nbsp;{{titleBtn}}
              </button>            
            </td>
          </tr>
        </thead>
        <tbody>                        
          <tr>
            <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">38</th>
            <td class="text-center align-middle bg-info" style="width:180px">CLASIFICACION DEL PREDIO</td>
            <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">39</th>
            <td class="text-center align-middle bg-info" style="width:120px">PREDIO CATASTRAL EN</td>
            <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">40</th>
            <td colspan="5" class="text-center align-middle bg-info">CODIGO DE USO</td>
            <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">41</th>
            <td class="text-center align-middle bg-info">DESCRIPCIÓN DEL USO</td>
            <th scope="row" class="text-center bg-secondary align-middle fw-bold ancho-column">42</th>
            <td class="text-center align-middle bg-info" style="width:120px">ÁREA DE TERRENO VERIFICADA (m2)</td>          
          </tr>
          <tr>
            <td colspan="2" class="text-center">{{mDescPredio.ClasificacionPredio}}</td>
            <td colspan="2" class="text-center">{{mDescPredio.PredioCatastralEn}}</td>
            <td class="text-center ancho-column">{{mDescPredio.CodeUso[0]}}</td>
            <td class="text-center ancho-column">{{mDescPredio.CodeUso[1]}}</td>
            <td class="text-center ancho-column">{{mDescPredio.CodeUso[2]}}</td>
            <td class="text-center ancho-column">{{mDescPredio.CodeUso[3]}}</td>
            <td class="text-center ancho-column">{{mDescPredio.CodeUso[4]}}</td>
            <td class="text-center ancho-column">{{mDescPredio.CodeUso[5]}}</td>
            <td colspan="2" class="text-center">{{mDescPredio.DescripcionUso}}</td>
            <td colspan="2" class="text-center">{{mDescPredio.AreaTerrenoVerificada}}</td>
          </tr>
        </tbody>
      </table>                                                
    </div>
  </div>
  <!-- <mat-divider></mat-divider>
  <div class="row mt-3">
    <div class="col col-12 text-end">
      <button class="btn btn-primary btn-sm bg-cofopri" style="width: 170px;"
      [disabled]="btnNextDisabled"  (click)="goNext()">
      <i class="bi bi-database-check"></i>&nbsp;Guardar y continuar...  
    </button>
    </div>
  </div> -->
</form>