<div class="col-md-12">  
  <div class="py-3 px-3 titulo-table">
    <div class="row">
      <div class="col-6 text-start">
        <div class="my-2 fs-5 text-star fw-bold">Tabla de Ordenes de Trabajo</div>
      </div>
    </div>    
  </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
              <ng-container matColumnDef="Dpto">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Dpto.</th>
                <td mat-cell *matCellDef="let element" class="text-center">{{element.codigoDepartamento}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Prov">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Prov.</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoProvincia}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Dist">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Dist. </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoDistrito}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Sec">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Sec. </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoSector}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Mz">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Mz. </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigoManzana}} </td>
              </ng-container>
          
              <ng-container matColumnDef="TotalLotes">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Cantidad Lotes</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.lotes}} </td>
              </ng-container>
          
              <ng-container matColumnDef="NroOrden">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Nro Orden </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.orden}} </td>
              </ng-container>        
          
              <ng-container matColumnDef="EstadoOrden">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Estado Orden</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.estadoOrden}} </td>
              </ng-container>
          
              <ng-container matColumnDef="FechaAsignacion">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha Asignación</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.fechaOrden}} </td>
              </ng-container>
          
              <ng-container matColumnDef="PersonalAsignado">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Personas Asignadas</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.personasAsignadas}} </td>
              </ng-container>

              <ng-container matColumnDef="seleccion">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Acción
                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <table style="width: 100%;" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td style="width: 50%;" class="text-center">
                          <button class="btn btn-sm btn-custom btn-outline-secondary"
                          matTooltip="Ver lotes"
                          (click)="VerLote(element)">
                          <i class="bi bi-file-earmark-text"></i>
                        </button>
                        </td>
                        <td style="width: 50%;" class="text-center">
                          <button class="btn btn-sm btn-custom btn-outline-secondary" 
                          *ngIf="element.codigoOrden != 0 && !element.expandir"
                          matTooltip="Expandir"
                          (click)="ExpandirContraer(element); $event.stopPropagation()">
                          <i class="bi bi-chevron-down"></i>
                        </button> 
                        <button class="btn btn-sm btn-custom btn-outline-secondary" 
                          *ngIf="element.codigoOrden != 0 && element.expandir"
                          matTooltip="Contraer"
                          (click)="ExpandirContraer(element); $event.stopPropagation()">
                          <i class="bi bi-chevron-up"></i>
                        </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- <button class="btn btn-danger btn-sm rounded-circle" *ngIf="element.codigoEstadoOrden == '01'"
                    title="Anular orden"
                    (click)="AnularOrden(element)">
                    <i class="bi bi-x"></i>
                  </button> -->

                  <!-- <button class="btn btn-success btn-sm rounded-circle" 
                    *ngIf="element.codigoOrden == 0"
                    title="Crear Orden"
                    (click)="CrearOrden(element)">
                    <i class="bi bi-people"></i>
                  </button>  -->

                </td>
              </ng-container>

              <!-- DETALLE -->

              <ng-container matColumnDef="expDetailDpto">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                        <div class="element-content">
                        {{element.codigoDepartamento}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailProv">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content">
                        {{element.codigoProvincia}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailDist">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content">
                        {{element.codigoDistrito}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailSec">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content">
                        {{element.codigoSector}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailMz">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content">
                        {{element.codigoManzana}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailTotalLotes">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content">
                        {{element.lotes}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailNroOrden">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content">
                        {{element.orden}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailEstadoOrden">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content">
                        {{element.estadoOrden}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailFechaAsig">
                <td mat-cell *matCellDef="let element" class="align-top text-center bg-white">
                  <div [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content text-center">
                        {{element.fechaOrden}}
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailPersonalAsig">
                <td mat-cell *matCellDef="let element" class="align-top bg-white" style="padding: 0px 0px;">
                  <div class="element-detail"
                        [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">            
                      <div class="element-content-light w-100">
                        <div class="d-flex flex-column">
                          <div class="text-center" style="color: #b1b1b1;">                
                            Personal Asignado
                          </div>
                          <ul class="list-group list-group-flush list-group-numbered" style="margin-top: 10px;">
                            <li class="list-group-item" *ngFor="let pa of element.usuarios">
                               {{pa.persona}}
                              <button class="btn btn-danger btn-sm rounded-circle" style="visibility: hidden;">
                                  <i class="bi bi-person-x-fill"></i>
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expDetailAccion">
                <td mat-cell *matCellDef="let element" class="align-top bg-white" style="padding: 0px 0px;">
                  <div class="element-detail"
                        [@detailExpand]="element.expandir ? 'expanded' : 'collapsed'">    
                        <div class="element-content-light w-100 text-center">
                          <!-- <div class="row" *ngIf="element.codigoEstadoOrden == '01'">
                            <div class="col-12 w-100 text-center">
                              <button class="btn btn-success btn-sm rounded-circle"
                                  title="Agregar Personal"
                                  (click)="CrearOrden(element)">
                                  <i class="bi bi-person-plus"></i>
                              </button>
                            </div>
                          </div>
                          <ul class="list-group list-group-flush" *ngIf="element.usuarios.length > 1">
                            <li class="list-group-item" *ngFor="let pa of element.usuarios">
                              <button class="btn btn-danger btn-sm rounded-circle"
                                  title="Quitar Persona"
                                  (click)="QuitarPersona(pa)">
                                  <i class="bi bi-person-x-fill"></i>
                              </button>
                            </li>
                          </ul> -->
                        </div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <tr mat-row *matRowDef="let row; columns: ['expDetailDpto','expDetailProv','expDetailDist','expDetailSec','expDetailMz',
              'expDetailTotalLotes','expDetailNroOrden','expDetailEstadoOrden','expDetailFechaAsig','expDetailPersonalAsig','expDetailAccion']" class="example-detail-row"></tr>

            </table>
          <div *ngIf="dataSource.filteredData.length == 0" class="text-danger m-2 fst-italic">No se encontraron registros.</div>
         
          <mat-paginator [pageSizeOptions]="[10, 20, 30]"
             showFirstLastButtons
             (page)="pageEvent = $event; pageChanged($event)">
          </mat-paginator>
</div>

