.barra-title{
    border-left: 8px solid #11478A;
    color: #11478A;
    font-size: 1.2rem;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
.mat-expansion-panel-header{
    padding: 0 24px 0 0;
}