<form [formGroup]="formTitu">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>          
              <div class="w-100 barra-title py-3 px-2">Características de Titularidad</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-sm">
            <div class="row my-2">
              <div class="col-md-12">
                <div class="row my-2">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 mt-1">
                        Condición del Titular
                      </div>
                      <div class="col-md-12" style="position: relative;">
                        <select name="condiciontitular" #SelCondTitu
                                formControlName="condiciontitular"
                                (change)="onChangeSelCondTitu(SelCondTitu.value)"
                                class="form-select form-select-sm border focus-ring" 
                                [class.border-success]="this.formTitu.get('condiciontitular')?.valid"
                                [class.focus-ring-success]="this.formTitu.get('condiciontitular')?.valid"
                                [class.border-danger]="this.formTitu.get('condiciontitular')?.invalid && this.formTitu.get('condiciontitular')?.touched"
                                [class.focus-ring-danger]="this.formTitu.get('tipodocidentidad')?.invalid && this.formTitu.get('condiciontitular')?.touched"
                                aria-label="select-condiciontitular" [pattern]="pattern1Digs">
                                <option *ngFor="let cv of listCondicionTitular" [value]="cv.value">{{ cv.text }}</option>
                        </select>
                        <i *ngIf="this.formTitu.get('condiciontitular')?.invalid && this.formTitu.get('condiciontitular')?.touched" 
                                class="position-icon-select bi bi-exclamation-circle-fill text-danger"
                                title="Campo requerido"></i>                      
                      </div>
                    </div>                    
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 mt-1">
                        Forma de Adquisión
                      </div>
                      <div class="col-md-12" style="position: relative;">
                        <select name="formaadquisicion" #SelFormAdqu
                                formControlName="formaadquisicion"
                                class="form-select form-select-sm border focus-ring" 
                                [class.border-success]="this.formTitu.get('formaadquisicion')?.valid"
                                [class.focus-ring-success]="this.formTitu.get('formaadquisicion')?.valid"
                                [class.border-danger]="this.formTitu.get('formaadquisicion')?.invalid && this.formTitu.get('formaadquisicion')?.touched"
                                [class.focus-ring-danger]="this.formTitu.get('formaadquisicion')?.invalid && this.formTitu.get('formaadquisicion')?.touched"
                                aria-label="select-formaadquisicion" [pattern]="pattern1Digs">
                                <option *ngFor="let cv of listFormaAdquisicion" [value]="cv.value">{{ cv.text }}</option>
                        </select>
                        <i *ngIf="this.formTitu.get('formaadquisicion')?.invalid && this.formTitu.get('formaadquisicion')?.touched" 
                                class="position-icon-select bi bi-exclamation-circle-fill text-danger"
                                title="Campo requerido"></i>                      
                      </div>
                    </div>                    
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 mt-1">
                            Tipo de Documento
                        </div>
                        <div class="col-md-12" style="position: relative;">
                            <select name="tipodocidentidad" #SelDocIdent
                                    formControlName="tipodocidentidad"
                                    class="form-select form-select-sm border focus-ring" 
                                    [class.border-success]="this.formTitu.get('tipodocidentidad')?.valid"
                                    [class.focus-ring-success]="this.formTitu.get('tipodocidentidad')?.valid"
                                    [class.border-danger]="this.formTitu.get('tipodocidentidad')?.invalid && this.formTitu.get('tipodocidentidad')?.touched"
                                    [class.focus-ring-danger]="this.formTitu.get('tipodocidentidad')?.invalid && this.formTitu.get('tipodocidentidad')?.touched"
                                    aria-label="select-tipodocidentidad" [pattern]="pattern1Digs">
                                    <option *ngFor="let cv of listTipoDocumento" [value]="cv.value">{{ cv.text }}</option>
                            </select>
                            <i *ngIf="this.formTitu.get('tipodocidentidad')?.invalid && this.formTitu.get('tipodocidentidad')?.touched" 
                                    class="position-icon-select bi bi-exclamation-circle-fill text-danger"
                                    title="Campo requerido"></i>                      
                        </div>
                    </div>                    
                  </div>
                </div>
                <div class="row my-2">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-12 mt-1">
                          Tipo de Partida Registral
                        </div>
                        <div class="col-md-12" style="position: relative;">
                          <select name="partidaregistral" #SelPartida
                                  formControlName="partidaregistral"
                                  class="form-select form-select-sm border focus-ring" 
                                  [class.border-success]="this.formTitu.get('partidaregistral')?.valid"
                                  [class.focus-ring-success]="this.formTitu.get('partidaregistral')?.valid"
                                  [class.border-danger]="this.formTitu.get('partidaregistral')?.invalid && this.formTitu.get('partidaregistral')?.touched"
                                  [class.focus-ring-danger]="this.formTitu.get('partidaregistral')?.invalid && this.formTitu.get('partidaregistral')?.touched"
                                  aria-label="select-partidaregistral" [pattern]="pattern1Digs">
                                  <option *ngFor="let cv of listPartidaRegistral" [value]="cv.value">{{ cv.text }}</option>
                          </select>
                          <i *ngIf="this.formTitu.get('partidaregistral')?.invalid && this.formTitu.get('partidaregistral')?.touched" 
                                  class="position-icon-select bi bi-exclamation-circle-fill text-danger"
                                  title="Campo requerido"></i>                      
                        </div>
                      </div>                    
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-12 mt-1">
                            Número de Partida
                          </div>
                          <div class="col-md-12" style="position: relative;">
                            <input type="text" formControlName="numeropartida"
                            class="form-control form-control-sm border focus-ring"
                            [class.border-success]="this.formTitu.get('numeropartida')?.valid"
                            [class.focus-ring-success]="this.formTitu.get('numeropartida')?.valid"
                            [class.border-danger]="this.formTitu.get('numeropartida')?.invalid && this.formTitu.get('numeropartida')?.touched"
                            [class.focus-ring-danger]="this.formTitu.get('numeropartida')?.invalid && this.formTitu.get('numeropartida')?.touched">
                          <i *ngIf="this.formTitu.get('numeropartida')?.invalid && this.formTitu.get('numeropartida')?.touched" 
                                class="position-icon-input bi bi-exclamation-circle-fill text-danger"
                                title="Campo requerido"></i>                      
                          </div>
                      </div>                    
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                      </div>                    
                    </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel > <!--disabled -->
          <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="w-100 barra-title py-3 px-2">Interesados</div>              
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-sm">
            <div class="row my-1">
              <div class="col-md-12 text-end">
                <button class="btn btn-sm btn-custom btn-outline-primary" 
                  *ngIf="this.formTitu.get('condiciontitular')?.value != 0
                  && ((this.dataPersona.unTitular && lista.length < 1) || !this.dataPersona.unTitular)"
                  (click)="AgregarPersona()">
                  <i class="bi bi-person-add"></i>&nbsp;Agregar
                </button>
              </div>
            </div>
            <div class="row"> 
              <!-- LISTA DE INTERESADOS -->
              <div *ngFor="let int of lista" class="panel-sicu w-100 p-2 my-1">
                  <div class="row m-1">
                    <div class="col-md-6 col-sm-12">
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Nro:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.id}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="row" *ngIf="int.codigoTipoCotitular == '01'">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Apellido Paterno:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.apellidoPaterno}}</span>
                        </div>
                      </div>
                      <div class="row" *ngIf="int.codigoTipoCotitular != '01'">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Número:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.numeroDocumento}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-1">
                    <div class="col-md-6 col-sm-12">
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Tipo Documento:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.nombreTipoDocumento}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="row" *ngIf="int.codigoTipoCotitular == '01'">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Apellido Materno:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.apellidoMaterno}}</span>
                        </div>
                      </div>
                      <div class="row" *ngIf="int.codigoTipoCotitular != '01'">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Razón Social:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.razonSocial}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-1" *ngIf="int.codigoTipoCotitular == '01'">
                    <div class="col-md-6 col-sm-12">
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Nro Documento:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.numeroDocumento}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Nombres:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.nombres}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-1">
                    <div class="col-md-6 col-sm-12">
                      <div class="row" *ngIf="int.codigoTipoCotitular == '01'">
                        <div class="col-md-6 col-sm-12">
                          <span class="color-title">Estado Civil:</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <span class="color-dato">{{int.nombreTipoEstadoCivil}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="row">
                        <div class="col-md-12 col-sm-12" *ngIf="int.codigoTipoCotitular == '01'">
                          <span class="badge p-2 bg-persona-natural">{{int.nombreTipoCotitular}}</span>
                        </div>
                        <div class="col-md-12 col-sm-12" *ngIf="int.codigoTipoCotitular != '01'">
                          <span class="badge p-2 bg-persona-juridica">{{int.nombreTipoCotitular}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 text-end">
                          <button mat-icon-button 
                            [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <mat-icon>edit</mat-icon>
                              <span>Editar interesado</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>delete</mat-icon>
                              <span>Eliminar interesado</span>
                            </button>
                          </mat-menu>                          
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">&nbsp;</div>
              <div class="col-md-3 text-end my-2">
                <button type="submit" 
                [disabled]="this.lista.length==0"
                  class="btn btn-sm bg-btn-save w-100"
                  (click)="GuardarInteresados()">
                  Guardar      
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>      
    </mat-accordion>
</form>