table{
    width: 100%;
}
.mat-mdc-row .mat-mdc-cell {
   
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    opacity: 1;
}

.mat-mdc-row:hover .mat-mdc-cell {
    color: #15448b;
    background-color:#e7ebf2;
    border-bottom: 1px solid #15448b;

}  