

<!-- <div class="container my-3">
    <h3>INFORMACIÓN SERIE HBO - JUEGO DE TRONOS</h3>
    <div class="my-3">
        <mat-tab-group>
            <mat-tab label="Personajes">
                <div class="row">
                    <div *ngFor="let c of characters" class="col-md-3 my-3">
                        <mat-card class="character-card">
                            <mat-card-header>
                                <mat-card-title>{{ c.firstName + ' ' + c.lastName }}</mat-card-title>
                                <mat-card-subtitle>{{ c.family }}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image [src]="c.imageUrl" class="character-image">
                            <mat-card-content>
                                <p>
                                    {{c.title}}
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Continentes">
                <div *ngFor="let c of continents" class="col-md-3 my-3">
                    <mat-card class="character-card">
                        <mat-card-header>
                            <mat-card-title>{{ c.name }}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div> -->
<!-- <div class="content-body">
    <p *ngIf="userLoginOn">Usuario Autenticado</p>
    <p *ngIf="!userLoginOn">Usuario No Autenticado</p>
</div> -->
