<form [formGroup]="form">
  <div class="col-md-12 my-3">
    <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0">
          <mat-expansion-panel-header 
          [collapsedHeight]="customCollapsedHeight" 
          [expandedHeight]="customExpandedHeight">
            <mat-panel-title>
              Filtros de búsqueda
            </mat-panel-title>        
          </mat-expansion-panel-header>
          <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
          <div class="row">
            <div class="col-12 mt-1">
              Departamento:
            </div>
            <div class="col-12" style="position: relative;">
              <input type="text" formControlName="departamento" 
                      class="form-control form-control-sm border">
            </div>      
          </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
          <div class="row">
            <div class="col-12 mt-1">
              Provincia:
            </div>
            <div class="col-12" style="position: relative;">
              <input type="text" formControlName="provincia" 
                      class="form-control form-control-sm border">
            </div>      
          </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
          <div class="row">
            <div class="col-12 mt-1">
              Distrito:
            </div>
            <div class="col-12" style="position: relative;">
              <input type="text" formControlName="distrito" 
                      class="form-control form-control-sm border">
            </div>      
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
              <div class="row">
                <div class="col-12 mt-1">
                  Sector:
                </div>
                <div class="col-12" style="position: relative;">
                  <select name="sector" #SelSect
                    formControlName="sector"
                    (change)="onChangeSelSector(SelSect.value, false)"
                    class="form-select form-select-sm border"
                    aria-label="select-sector">
                    <option *ngFor="let sec of sectores" [value]="sec.idSector">{{ sec.codigoSector }}</option>
                  </select> 
                </div>      
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
              <div class="row">
                <div class="col-12 mt-1">
                  Manzana:
                </div>
                <div class="col-12" style="position: relative;">
                  <select name="manzana"
                    formControlName="manzana"
                    class="form-select form-select-sm border"
                    aria-label="select-manzana">
                    <option *ngFor="let man of manzanas" [value]="man.idManzana">{{ man.codigoManzana }}</option>
                  </select> 
                </div>      
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
              <div class="row">
                <div class="col-12 mt-1">
                  Estado:
                </div>
                <div class="col-12" style="position: relative;">
                  <select name="estado"
                    formControlName="estado"
                    class="form-select form-select-sm border"
                    aria-label="select-estado">
                    <option *ngFor="let est of listaEstadosOrden" [value]="est.value">{{ est.text }}</option>
                  </select> 
                </div>      
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
              <div class="row">
                <div class="col-12 mt-4">
                  <button class="btn btn-primary btn-sm bg-cofopri" (click)="buscar()">
                  <i class="bi bi-search"></i>&nbsp;&nbsp;Buscar
                  </button>
                </div>     
              </div>
            </div>            
          </div>
                    <!-- <mat-form-field hintLabel="Máximo 6 caracteres" class="text-cofopri">
                      <mat-label>Número Ficha</mat-label>
                      <input matInput #input maxlength="6" [(ngModel)]="NumeroFicha">
                      <mat-hint align="end">{{input.value.length}}/6</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="text-cofopri">
                      <mat-label>Ficha por lote</mat-label>
                      <input matInput #input [(ngModel)]="FichaLote">
                    </mat-form-field>
                    <mat-form-field hintLabel="Máximo 12 caracteres" class="text-cofopri">
                      <mat-label>Código Único Catastral</mat-label>
                      <input matInput #input maxlength="12"  [(ngModel)]="CUC">
                      <mat-hint align="end">{{input.value.length}}/12</mat-hint>
                    </mat-form-field>
                    <mat-form-field color="primary" class="text-cofopri">
                      <mat-label>Condición Titular</mat-label>
                      <mat-select [(ngModel)]="IdCondicionTitular">
                        <mat-option value="1">Propietario Único</mat-option>
                        <mat-option value="2">Sucesión Intestada</mat-option>
                        <mat-option value="3">Poseedor</mat-option>
                        <mat-option value="4">Sociedad Conyugal</mat-option>
                        <mat-option value="5">Cotitularidad</mat-option>
                        <mat-option value="6">Litigio</mat-option>
                        <mat-option value="7">Otros</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field color="primary" class="text-cofopri">
                      <mat-label>Tipo de Titular</mat-label>
                      <mat-select [(ngModel)]="IdTipoTitular">
                        <mat-option value="1">Persona Natural</mat-option>
                        <mat-option value="2">Persona Juridica</mat-option>
                      </mat-select>
                    </mat-form-field> -->
                    <!-- <button mat-raised-button color="primary" class="bg-cofopri ms-2" 
                    style="background-color: #15448b; margin-top: -15px;" (click)="buscar()">
                      <mat-icon>search</mat-icon>
                      Buscar
                    </button> -->
                  </mat-expansion-panel>
            </mat-accordion>        
        </div>

</form>

  