<form [formGroup]="form" (ngSubmit)="guardar()">
  <h1 mat-dialog-title class="bg-cofopri text-white">Ubicación del Predio Catastral</h1>
  <div mat-dialog-content class="px-4" style="font-size: 0.9rem;">
    <div class="row my-2">    
        <div class="col-12 mt-1">
          <mat-card class="example-card">
            <mat-card-content>
              <div class="row">
                <div class="col-4 mt-1">
                  Código de Vía:
                </div>
                <div class="col-5" style="position: relative;">
                  <select name="codigovia" #SelCodevia
                          formControlName="codigovia"
                          (change)="onChangeSelCodevia(SelCodevia.value, false)"
                          [disableControl]="swSincodigo"
                          class="form-select form-select-sm border focus-ring" 
                          [class.border-success]="this.form.get('codigovia')?.valid"
                          [class.focus-ring-success]="this.form.get('codigovia')?.valid"
                          [class.border-danger]="this.form.get('codigovia')?.invalid && this.form.get('codigovia')?.touched"
                          [class.focus-ring-danger]="this.form.get('codigovia')?.invalid && this.form.get('codigovia')?.touched"
                          aria-label="select-codigovia" [pattern]="pattern1Digs">
                          <option *ngFor="let cv of listCodevia" [value]="cv.value">{{ cv.data.codigoVia }}</option>
                  </select>
                  <i *ngIf="this.form.get('codigovia')?.invalid && this.form.get('codigovia')?.touched" 
                          class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                          title="Campo requerido"></i>
                </div>                
                <div class="col-3 mt-1 text-cofopri">
                  <mat-slide-toggle formControlName="sincodigo"
                                  (change)="onChangeSelSinCode($event)"
                                    [color]="color">Sin Código</mat-slide-toggle>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-4 mt-1">
                  Tipo de Vía:
                </div>
                <div class="col-8" style="position: relative;">
                  <input type="text" formControlName="tipovia"
                        *ngIf="!swSincodigo" [readonly]="true"
                        class="form-control form-control-sm border focus-ring">
                  <select name="tipoviasel"
                        formControlName="tipoviasel" *ngIf="swSincodigo"
                        class="form-select form-select-sm border focus-ring" 
                        [class.border-success]="this.form.get('tipoviasel')?.valid"
                        [class.focus-ring-success]="this.form.get('tipoviasel')?.valid"
                        [class.border-danger]="this.form.get('tipoviasel')?.invalid && this.form.get('tipoviasel')?.touched"
                        [class.focus-ring-danger]="this.form.get('tipoviasel')?.invalid && this.form.get('tipoviasel')?.touched"
                        aria-label="select-tipoviasel">
                        <option *ngFor="let cv of listaTipovia" [value]="cv.value">{{ cv.text }}</option>
                  </select>                        
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-4 mt-1">
                  Nombre de Vía:
                </div>
                <div class="col-8" style="position: relative;">
                  <input type="text" formControlName="nombrevia"
                        class="form-control form-control-sm border focus-ring" 
                        [readOnly]="!swSincodigo">
                </div>
              </div>
              <div class="row my-2">
                <div class="col-4 mt-1">
                  Tipo de Puerta:
                </div>
                <div class="col-8" style="position: relative;">
                  <select name="tipopuerta" #SelSect
                          formControlName="tipopuerta"                          
                          class="form-select form-select-sm border focus-ring"
                          [class.border-success]="this.form.get('tipopuerta')?.valid"
                          [class.focus-ring-success]="this.form.get('tipopuerta')?.valid"
                          [class.border-danger]="this.form.get('tipopuerta')?.invalid && this.form.get('tipopuerta')?.touched"
                          [class.focus-ring-danger]="this.form.get('tipopuerta')?.invalid && this.form.get('tipopuerta')?.touched"
                          aria-label="select-tipopuerta" [pattern]="pattern1Digs">
                          <option *ngFor="let tp of listaTipopuerta" [value]="tp.value">{{ tp.text }}</option>
                  </select>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-4 mt-1">
                  Número Municipal:
                </div>
                <div class="col-8" style="position: relative;">
                  <input type="text" formControlName="nromunicipal"
                        class="form-control form-control-sm border focus-ring"
                        [class.border-success]="this.form.get('nromunicipal')?.valid"
                        [class.focus-ring-success]="this.form.get('nromunicipal')?.valid"
                        [class.border-danger]="this.form.get('nromunicipal')?.invalid && this.form.get('nromunicipal')?.touched"
                        [class.focus-ring-danger]="this.form.get('nromunicipal')?.invalid && this.form.get('nromunicipal')?.touched"
                        aria-label="input-nromunicipal">
                  <i *ngIf="this.form.get('nromunicipal')?.invalid && this.form.get('nromunicipal')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>
                </div>  
              </div>
              <div class="row mt-2">
                <div class="col-4 mt-1">
                  Condición de Númeración:
                </div>
                <div class="col-8" style="position: relative;">
                  <select name="condnumeracion" #SelCond
                          formControlName="condnumeracion"
                          class="form-select form-select-sm border focus-ring"
                          [class.border-success]="this.form.get('condnumeracion')?.valid"
                          [class.focus-ring-success]="this.form.get('condnumeracion')?.valid"
                          [class.border-danger]="this.form.get('condnumeracion')?.invalid && this.form.get('condnumeracion')?.touched"
                          [class.focus-ring-danger]="this.form.get('condnumeracion')?.invalid && this.form.get('condnumeracion')?.touched"
                          aria-label="select-condnumeracion" [pattern]="pattern1Digs">
                          <option *ngFor="let cn of listaCondNumeracion" [value]="cn.value">{{ cn.text }}</option>
                  </select>
                </div>            
              </div>
            </mat-card-content>
          </mat-card>      
        </div>
    </div>
    
  </div>
  <!-- [disabled]="form.invalid" -->
  <div mat-dialog-actions class="d-flex justify-content-end">  
    <button type="submit" class="btn btn-sm btn-primary bg-cofopri text-white" 
            [disabled]="form.invalid"
            (click)="guardar()"><i class="bi bi-plus-circle"></i>&nbsp;Agregar</button>
    <button class="btn btn-sm btn-default" mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>