<form [formGroup]="form" (ngSubmit)="guardar()">
  <h1 mat-dialog-title class="bg-cofopri text-white">Construcciones</h1>
  <div mat-dialog-content class="px-4" style="font-size: 0.9rem;">
    <div class="row my-2">    
        <div class="col-12 mt-1">
          <mat-card class="example-card">
            <mat-card-content>
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-8">
                      N° Piso, Sótano Mezzanine:
                    </div>
                    <div class="col-4">
                      <input type="text" formControlName="pisosotano"
                      class="form-control form-control-sm border focus-ring" 
                      [class.border-success]="this.form.get('pisosotano')?.valid"
                      [class.focus-ring-success]="this.form.get('pisosotano')?.valid"
                      [class.border-danger]="this.form.get('pisosotano')?.invalid && this.form.get('pisosotano')?.touched"
                      [class.focus-ring-danger]="this.form.get('pisosotano')?.invalid && this.form.get('pisosotano')?.touched">                  
                      <i *ngIf="this.form.get('pisosotano')?.invalid && this.form.get('pisosotano')?.touched" 
                              class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                              title="Campo requerido"></i>
                    </div>
                  </div>                  
                </div>     
                <div class="col-6">
                  <div class="row">
                    <div class="col-7" title="Fecha de construcción (Mes/Año)">
                      Fecha de construcción:
                    </div>
                    <div class="col-5" style="position: relative;">
                      <input matInput [matDatepicker]="dp" formControlName="mesanio" 
                      [max]="maxDate"
                      readonly="true" style="width: 72px;"
                      class="form-control form-control-sm border focus-ring" 
                      [class.border-success]="this.form.get('mesanio')?.valid"
                      [class.focus-ring-success]="this.form.get('mesanio')?.valid"
                      [class.border-danger]="this.form.get('mesanio')?.invalid && this.form.get('mesanio')?.touched"
                      [class.focus-ring-danger]="this.form.get('mesanio')?.invalid && this.form.get('mesanio')?.touched">
                      <mat-datepicker-toggle matIconSuffix [for]="dp" class="position-absolute" style="top: -8px; left:85px"></mat-datepicker-toggle>
                      <mat-datepicker #dp
                                      startView="multi-year"
                                      (monthSelected)="setMonthAndYear($event, dp)"
                                      panelClass="example-month-picker">
                      </mat-datepicker>
                      <i *ngIf="this.form.get('mesanio')?.invalid && this.form.get('mesanio')?.touched" 
                      class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                      title="Campo requerido"></i>                       
                    </div>
                  </div>                 
                </div>       
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <div class="row">
                    <div class="col-2 pt-1" title="Material estructural predominante (MEP)">
                      MEP: 
                    </div>
                    <div class="col-10">
                      <select name="mep"
                      formControlName="mep"
                      class="form-select form-select-sm border focus-ring"
                      [class.border-success]="this.form.get('mep')?.valid"
                      [class.focus-ring-success]="this.form.get('mep')?.valid"
                      [class.border-danger]="this.form.get('mep')?.invalid && this.form.get('mep')?.touched"
                      [class.focus-ring-danger]="this.form.get('mep')?.invalid && this.form.get('mep')?.touched"
                      aria-label="select-mep" [pattern]="pattern1Digs">
                      <option *ngFor="let mep of listaMEP" [value]="mep.value">{{ mep.text }}</option>
                      </select>
                      <i *ngIf="this.form.get('mep')?.invalid && this.form.get('mep')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>
                    </div>
                  </div>                
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-2 pt-1" title="Estado de Conservación (ECS)">
                      ECS:
                    </div>
                    <div class="col-10">
                      <select name="ecs"
                              formControlName="ecs"
                              class="form-select form-select-sm border focus-ring"
                              [class.border-success]="this.form.get('ecs')?.valid"
                              [class.focus-ring-success]="this.form.get('ecs')?.valid"
                              [class.border-danger]="this.form.get('ecs')?.invalid && this.form.get('ecs')?.touched"
                              [class.focus-ring-danger]="this.form.get('ecs')?.invalid && this.form.get('ecs')?.touched"
                              aria-label="select-ecs" [pattern]="pattern1Digs">
                              <option *ngFor="let ecs of listaECS" [value]="ecs.value">{{ ecs.text }}</option>
                      </select>
                      <i *ngIf="this.form.get('ecs')?.invalid && this.form.get('ecs')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>   
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <div class="row">
                    <div class="col-2 pt-1" title="Estado de la Construcción (ECC)">
                      ECC:
                    </div>
                    <div class="col-10">
                      <select name="ecc"
                              formControlName="ecc"
                              class="form-select form-select-sm border focus-ring"
                              [class.border-success]="this.form.get('ecc')?.valid"
                              [class.focus-ring-success]="this.form.get('ecc')?.valid"
                              [class.border-danger]="this.form.get('ecc')?.invalid && this.form.get('ecc')?.touched"
                              [class.focus-ring-danger]="this.form.get('ecc')?.invalid && this.form.get('ecc')?.touched"
                              aria-label="select-ecc" [pattern]="pattern1Digs">
                              <option *ngFor="let ecc of listaECC" [value]="ecc.value">{{ ecc.text }}</option>
                      </select>
                      <i *ngIf="this.form.get('ecc')?.invalid && this.form.get('ecc')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-2 pt-1" title="Unidad de Construcción Antirreglamentaria (UCA)">
                      UCA:
                    </div>
                    <div class="col-10">
                      <select name="uca"
                              formControlName="uca"
                              class="form-select form-select-sm border focus-ring"
                              [class.border-success]="this.form.get('uca')?.valid"
                              [class.focus-ring-success]="this.form.get('uca')?.valid"
                              [class.border-danger]="this.form.get('uca')?.invalid && this.form.get('uca')?.touched"
                              [class.focus-ring-danger]="this.form.get('uca')?.invalid && this.form.get('uca')?.touched"
                              aria-label="select-uca" [pattern]="pattern1Digs">
                              <option *ngFor="let ecc of listaUCA" [value]="ecc.value">{{ ecc.text }}</option>
                      </select>
                      <i *ngIf="this.form.get('uca')?.invalid && this.form.get('uca')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i> 
                    </div>
                  </div>
                </div>               
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <div class="row">
                    <div class="col-6 pt-1">
                      Muros y Columnas:
                    </div>
                    <div class="col-6">
                      <select name="muroscolumnas"
                              formControlName="muroscolumnas"
                              class="form-select form-select-sm border focus-ring"
                              [class.border-success]="this.form.get('muroscolumnas')?.valid"
                              [class.focus-ring-success]="this.form.get('muroscolumnas')?.valid"
                              [class.border-danger]="this.form.get('muroscolumnas')?.invalid && this.form.get('muroscolumnas')?.touched"
                              [class.focus-ring-danger]="this.form.get('muroscolumnas')?.invalid && this.form.get('muroscolumnas')?.touched"
                              aria-label="select-muroscolumnas" [pattern]="pattern1Digs">
                              <option *ngFor="let mc of listaCatMurosColumnas" [value]="mc.value">{{ mc.text }}</option>
                      </select>
                      <i *ngIf="this.form.get('muroscolumnas')?.invalid && this.form.get('muroscolumnas')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>
                    </div>
                  </div>
                </div>  
                <div class="col-6">
                  <div class="row">
                    <div class="col-6 pt-1">
                      Techos:   
                    </div>
                    <div class="col-6">
                      <select name="techos"
                              formControlName="techos"
                              class="form-select form-select-sm border focus-ring"
                              [class.border-success]="this.form.get('techos')?.valid"
                              [class.focus-ring-success]="this.form.get('techos')?.valid"
                              [class.border-danger]="this.form.get('techos')?.invalid && this.form.get('techos')?.touched"
                              [class.focus-ring-danger]="this.form.get('techos')?.invalid && this.form.get('techos')?.touched"
                              aria-label="select-techos" [pattern]="pattern1Digs">
                              <option *ngFor="let ecc of listaCatMurosColumnas" [value]="ecc.value">{{ ecc.text }}</option>
                      </select>
                      <i *ngIf="this.form.get('techos')?.invalid && this.form.get('techos')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <div class="row">
                    <div class="col-6 pt-1">
                      Puertas y Ventanas:
                    </div>
                    <div class="col-6">
                      <select name="puertasventanas"
                              formControlName="puertasventanas"
                              class="form-select form-select-sm border focus-ring"
                              [class.border-success]="this.form.get('puertasventanas')?.valid"
                              [class.focus-ring-success]="this.form.get('puertasventanas')?.valid"
                              [class.border-danger]="this.form.get('puertasventanas')?.invalid && this.form.get('puertasventanas')?.touched"
                              [class.focus-ring-danger]="this.form.get('puertasventanas')?.invalid && this.form.get('puertasventanas')?.touched"
                              aria-label="select-listaCatPuertasVentanas" [pattern]="pattern1Digs">
                              <option *ngFor="let ecc of listaCatMurosColumnas" [value]="ecc.value">{{ ecc.text }}</option>
                      </select>
                      <i *ngIf="this.form.get('puertasventanas')?.invalid && this.form.get('puertasventanas')?.touched" 
                        class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                        title="Campo requerido"></i>
                    </div>
                  </div>
                </div> 
                <div class="col-6">
                  <div class="row">
                    <div class="col-6 pt-1">
                      Area verificada:
                    </div>
                    <div class="col-6">
                      <input type="text" formControlName="areaverificada"
                      class="form-control form-control-sm border focus-ring" 
                      [class.border-success]="this.form.get('areaverificada')?.valid"
                      [class.focus-ring-success]="this.form.get('areaverificada')?.valid"
                      [class.border-danger]="this.form.get('areaverificada')?.invalid && this.form.get('areaverificada')?.touched"
                      [class.focus-ring-danger]="this.form.get('areaverificada')?.invalid && this.form.get('areaverificada')?.touched">                  
                      <i *ngIf="this.form.get('areaverificada')?.invalid && this.form.get('areaverificada')?.touched" 
                              class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                              title="Campo requerido"></i>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="row mt-3">               
                <div class="col-6">
                  <div class="row">
                    <div class="col-6 pt-1" title="Código de Actividad Económica (CIIU)">
                      CIIU:
                    </div>
                    <div class="col-6">
                      <input type="text" formControlName="ciiu"
                      class="form-control form-control-sm border focus-ring" 
                      [class.border-success]="this.form.get('ciiu')?.valid"
                      [class.focus-ring-success]="this.form.get('ciiu')?.valid"
                      [class.border-danger]="this.form.get('ciiu')?.invalid && this.form.get('ciiu')?.touched"
                      [class.focus-ring-danger]="this.form.get('ciiu')?.invalid && this.form.get('ciiu')?.touched" mask="0000">                  
                      <i *ngIf="this.form.get('ciiu')?.invalid && this.form.get('ciiu')?.touched" 
                              class="position-icon-select fa-solid fa-exclamation-circle text-danger"
                              title="Campo requerido"></i> 
                    </div>
                  </div>
                </div>          
              </div>
            </mat-card-content>
          </mat-card>      
        </div>
    </div>
    
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">  
    <button type="submit" class="btn btn-sm btn-primary bg-cofopri text-white" 
            [disabled]="form.invalid"
            >Aceptar</button>
    <button class="btn btn-sm btn-default" mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>