<div class="col-md-12">  
  <mat-card>
      <mat-card-header>
          <div class="d-flex justify-content-end w-100">
              <div class="px-2 pb-2">
                  <button mat-mini-fab matTooltip="Nuevo registro" (click)="NuevoRegistro()"
                          color="primary" class="my-1" style="background-color: #15448b;">
                          <mat-icon>add</mat-icon>
                  </button>      
              </div>
              
            </div>
      </mat-card-header>
      <mat-card-content>
        <div class="table-responsive">
          <div *ngIf="loading;else table">Recuperando información...
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <ng-template #table>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="IdFichaCatastral">
                <th mat-header-cell *matHeaderCellDef> Nro</th>
                <td mat-cell *matCellDef="let element"> {{element.idFichaCatastral}} </td>
              </ng-container>
          
              <ng-container matColumnDef="numeroFicha">
                <th mat-header-cell *matHeaderCellDef> Nro. Ficha</th>
                <td mat-cell *matCellDef="let element"> {{element.numeroFicha}} </td>
              </ng-container>
          
              <ng-container matColumnDef="fichaLote">
                <th mat-header-cell *matHeaderCellDef> Ficha por lote </th>
                <td mat-cell *matCellDef="let element"> {{element.fichaLote}} </td>
              </ng-container>
          
              <ng-container matColumnDef="codigoUnicoCatastral">
                <th mat-header-cell *matHeaderCellDef> Código Único Catastral </th>
                <td mat-cell *matCellDef="let element"> {{element.codigoUnicoCatastral}} </td>
              </ng-container>
          
              <ng-container matColumnDef="codigoRefenciaCatastral">
                <th mat-header-cell *matHeaderCellDef> Código de Refencia Catastral </th>
                <td mat-cell *matCellDef="let element"> {{element.codigoRefenciaCatastral}} </td>
              </ng-container>
          
              <ng-container matColumnDef="codigoContribuyenteRenta">
                <th mat-header-cell *matHeaderCellDef> Código Contribuyente de Rentas </th>
                <td mat-cell *matCellDef="let element"> {{element.codigoContribuyenteRenta}} </td>
              </ng-container>
          
              <ng-container matColumnDef="codigoPredialRentas">
                <th mat-header-cell *matHeaderCellDef> Código Predial de Rentas </th>
                <td mat-cell *matCellDef="let element"> {{element.codigoPredialRentas}} </td>
              </ng-container>
          
              <ng-container matColumnDef="condicionTitular">
                <th mat-header-cell *matHeaderCellDef> Condición del Titular</th>
                <td mat-cell *matCellDef="let element"> {{element.condicionTitular}} </td>
              </ng-container>
          
              <ng-container matColumnDef="tipoTitular">
                <th mat-header-cell *matHeaderCellDef> Tipo de Titular </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoTitular}} </td>
              </ng-container>
          
              <!-- <ng-container matColumnDef="tipoDocIdentidad">
                <th mat-header-cell *matHeaderCellDef> Tipo Doc. Identidad</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoDocIdentidad}} </td>
              </ng-container>
          
              <ng-container matColumnDef="nroDocIdentidad">
                <th mat-header-cell *matHeaderCellDef> Nro. Documento</th>
                <td mat-cell *matCellDef="let element"> {{element.nroDocIdentidad}} </td>
              </ng-container> -->
          
              <ng-container matColumnDef="apellidoPaterno">
                <th mat-header-cell *matHeaderCellDef> Apellido Paterno</th>
                <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </td>
              </ng-container>
          
              <ng-container matColumnDef="apellidoMaterno">
                <th mat-header-cell *matHeaderCellDef> Apellido Materno</th>
                <td mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </td>
              </ng-container>
          
              <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef> Nombres</th>
                <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
              </ng-container>
          
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado</th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource.filteredData.length == 0" class="text-danger m-2 fs-6 fw-bold fst-italic">No se encontraron registros.</div>
          </ng-template>
         
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
             showFirstLastButtons
             (page)="pageEvent =$event; pageChanged($event)">
          </mat-paginator> 
        </div>          
      </mat-card-content>
  </mat-card>

</div>

