<div class="col-md-12 mt-2">  
  <div class="py-3 px-3 titulo-table">
    <div class="row">
      <div class="col-6 text-start">
        <div class="my-2 fs-5 text-star fw-bold">Tabla de Lotes de la Orden de Trabajo</div>
      </div>
    </div>    
  </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
              <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Estado</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <span class="border p-2" style="width: 150px;"
                  [class.border-success]="element.codigoEstado == 1"
                  [class.text-success]="element.codigoEstado == 1"
                  [class.border-danger]="element.codigoEstado == 2"
                  [class.text-danger]="element.codigoEstado == 2"
                  [class.border-warning]="element.codigoEstado == 3"
                  [class.text-warning]="element.codigoEstado == 3"
                  [class.border-info]="element.codigoEstado == 4"
                  [class.text-info]="element.codigoEstado == 4">{{element.estado}} </span>

                </td>
              </ng-container>
          
              <ng-container matColumnDef="NroLote">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Nro. Lote</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.nroLote}} </td>
              </ng-container>
          
              <ng-container matColumnDef="TotalUC">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Total UC </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.totalUC}} </td>
              </ng-container>
          
              <ng-container matColumnDef="FechaAsignacion">
                <th mat-header-cell *matHeaderCellDef class="text-center">Fecha Asignación</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.fechaAsignacion}} </td>
              </ng-container>
          
              <ng-container matColumnDef="FechaSincronizada">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha Sicronización </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.fechaSicronizacion}} </td>
              </ng-container>
          

              <ng-container matColumnDef="Accion">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Acción
                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button class="btn btn-custom-danger btn-sm" *ngIf="element.codigoEstado == 2"
                    (click)="VerUnidadCatastral(element)">
                    <i class="bi bi-clipboard-check"></i>&nbsp;Registrar Formulario
                  </button>
                  <button class="btn btn-custom-success btn-sm" *ngIf="element.codigoEstado != 2"
                  (click)="VerUnidadCatastral(element)">
                  <i class="bi bi-map"></i>&nbsp;Unidades Catastrales
                </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
          <div *ngIf="dataSource.filteredData.length == 0" class="text-danger m-2 fst-italic">No se encontraron registros.</div>
         
          <mat-paginator [pageSizeOptions]="[10, 20, 30]"
             showFirstLastButtons
             (page)="pageEvent = $event; pageChanged($event)">
          </mat-paginator>
</div>

