<form [formGroup]="form" (ngSubmit)="agregar()">
  <h1 mat-dialog-title class="bg-cofopri text-white">Agregar Obras / Instalaciones</h1>
  <div mat-dialog-content class="px-4" style="font-size: 0.9rem;">
    <div class="row my-2">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            Nro
          </div>
          <div class="col-md-12">
            <input type="text" formControlName="nro"
                  class="form-control form-control-sm border focus-ring"
                  [class.border-success]="this.form.get('nro')?.valid"
                  [class.focus-ring-success]="this.form.get('nro')?.valid"
                  [class.border-danger]="this.form.get('nro')?.invalid && this.form.get('nro')?.touched"
                  [class.focus-ring-danger]="this.form.get('nro')?.invalid && this.form.get('nro')?.touched">
            <i *ngIf="this.form.get('nro')?.invalid && this.form.get('nro')?.touched" 
                  class="position-icon-input bi bi-exclamation-circle-fill text-danger"
                  title="Campo requerido"></i>              
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            ECC
          </div>
          <div class="col-md-12" style="position: relative;">
            <!-- (change)="onChangeSelTipoTitular(SelECC.value)" -->
            <select name="ecc" #SelECC
                    formControlName="ecc"                    
                    class="form-select form-select-sm border focus-ring" 
                    [class.border-success]="this.form.get('ecc')?.valid"
                    [class.focus-ring-success]="this.form.get('ecc')?.valid"
                    [class.border-danger]="this.form.get('ecc')?.invalid && this.form.get('ecc')?.touched"
                    [class.focus-ring-danger]="this.form.get('ecc')?.invalid && this.form.get('ecc')?.touched"
                    aria-label="select-ecc" [pattern]="pattern1Digs">
                    <option *ngFor="let cv of listaECC" [value]="cv.value">{{ cv.text }}</option>
            </select>
            <i *ngIf="this.form.get('ecc')?.invalid && this.form.get('ecc')?.touched" 
                    class="position-icon-select bi bi-exclamation-circle-fill text-danger"
                    title="Campo requerido"></i>           
          </div>
        </div>        
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            Unidad de Medida
          </div>
          <div class="col-md-12">
            <select name="unidadmedida"
                    formControlName="unidadmedida"
                    class="form-select form-select-sm border focus-ring" 
                    [class.border-success]="this.form.get('unidadmedida')?.valid"
                    [class.focus-ring-success]="this.form.get('unidadmedida')?.valid"
                    [class.border-danger]="this.form.get('unidadmedida')?.invalid && this.form.get('unidadmedida')?.touched"
                    [class.focus-ring-danger]="this.form.get('unidadmedida')?.invalid && this.form.get('unidadmedida')?.touched"
                    aria-label="select-unidadmedida" [pattern]="pattern1Digs">
                    <option *ngFor="let cv of listaUnidadMedida" [value]="cv.value">{{ cv.text }}</option>
            </select>
            <i *ngIf="this.form.get('unidadmedida')?.invalid && this.form.get('unidadmedida')?.touched" 
                    class="position-icon-select bi bi-exclamation-circle-fill text-danger"
                    title="Campo requerido"></i>              
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            Mes/Año
          </div>
          <div class="col-md-12" style="position: relative;">
            <input matInput [matDatepicker]="dp" formControlName="mesanio" 
            [max]="maxDate"
            readonly="true" style="width: 72px;"
            class="form-control form-control-sm border focus-ring" 
            [class.border-success]="this.form.get('mesanio')?.valid"
            [class.focus-ring-success]="this.form.get('mesanio')?.valid"
            [class.border-danger]="this.form.get('mesanio')?.invalid && this.form.get('mesanio')?.touched"
            [class.focus-ring-danger]="this.form.get('mesanio')?.invalid && this.form.get('mesanio')?.touched">
            <mat-datepicker-toggle matIconSuffix [for]="dp" class="position-absolute" style="top: -8px; left:85px"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
            <i *ngIf="this.form.get('mesanio')?.invalid && this.form.get('mesanio')?.touched" 
            class="position-icon-select fa-solid fa-exclamation-circle text-danger"
            title="Campo requerido"></i>                       
          </div> 
        </div>        
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            Obras Complementarias
          </div>
          <div class="col-md-12">
            <input type="text"
              matInput
              formControlName="grupoobrainstalacion"
              [matAutocomplete]="autoGroup"
              class="form-control form-control-sm border focus-ring"
              [class.border-success]="this.form.get('grupoobrainstalacion')?.valid"
              [class.focus-ring-success]="this.form.get('grupoobrainstalacion')?.valid"
              [class.border-danger]="this.form.get('grupoobrainstalacion')?.invalid && this.form.get('grupoobrainstalacion')?.touched"
              [class.focus-ring-danger]="this.form.get('grupoobrainstalacion')?.invalid && this.form.get('grupoobrainstalacion')?.touched">
              <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup style="font-weight: bold;" *ngFor="let group of stateGroupOptions | async" [label]="group.descripcionObra">
                  <mat-option *ngFor="let subgrupo of group.obras" 
                    [value]="subgrupo.descripcionObra"
                    (onSelectionChange)="getIdGrupoObra($event, subgrupo)">
                    <span style="font-size: 0.85rem;">{{subgrupo.descripcionObra}}</span>
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>            
          </div>
        </div>
      </div>
    </div>    
    <div class="row my-2">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            ECS
          </div>
          <div class="col-md-12">
            <select name="ecs"
              formControlName="ecs"
              class="form-select form-select-sm border focus-ring"
              [class.border-success]="this.form.get('ecs')?.valid"
              [class.focus-ring-success]="this.form.get('ecs')?.valid"
              [class.border-danger]="this.form.get('ecs')?.invalid && this.form.get('ecs')?.touched"
              [class.focus-ring-danger]="this.form.get('ecs')?.invalid && this.form.get('ecs')?.touched"
              aria-label="select-ecs" [pattern]="pattern1Digs">
                  <option *ngFor="let ecs of listaECS" [value]="ecs.value">{{ ecs.text }}</option>
            </select>
            <i *ngIf="this.form.get('ecs')?.invalid && this.form.get('ecs')?.touched" 
              class="position-icon-select bi bi-exclamation-circle-fill text-danger"
              title="Campo requerido"></i> 
          </div>
        </div>        
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            MEP
          </div>
          <div class="col-md-12">
            <select name="mep"
              formControlName="mep"
              class="form-select form-select-sm border focus-ring"
              [class.border-success]="this.form.get('mep')?.valid"
              [class.focus-ring-success]="this.form.get('mep')?.valid"
              [class.border-danger]="this.form.get('mep')?.invalid && this.form.get('mep')?.touched"
              [class.focus-ring-danger]="this.form.get('mep')?.invalid && this.form.get('mep')?.touched"
              aria-label="select-mep" [pattern]="pattern1Digs">
                  <option *ngFor="let mep of listaMEP" [value]="mep.value">{{ mep.text }}</option>
            </select>
            <i *ngIf="this.form.get('mep')?.invalid && this.form.get('mep')?.touched" 
              class="position-icon-select bi bi-exclamation-circle-fill text-danger"
              title="Campo requerido"></i>           
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            UCA
          </div>
          <div class="col-md-12">
            <select name="uca"
                    formControlName="uca"
                    class="form-select form-select-sm border focus-ring"
                    [class.border-success]="this.form.get('uca')?.valid"
                    [class.focus-ring-success]="this.form.get('uca')?.valid"
                    [class.border-danger]="this.form.get('uca')?.invalid && this.form.get('uca')?.touched"
                    [class.focus-ring-danger]="this.form.get('uca')?.invalid && this.form.get('uca')?.touched"
                    aria-label="select-uca" [pattern]="pattern1Digs">
                    <option *ngFor="let u of listaUCA" [value]="u.value">{{ u.text }}</option>
            </select>
            <i *ngIf="this.form.get('uca')?.invalid && this.form.get('uca')?.touched" 
              class="position-icon-select bi bi-exclamation-circle-fill text-danger"
              title="Campo requerido"></i> 
          </div>
        </div>        
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            Producto Total
          </div>
          <div class="col-md-12">
            <input type="text" formControlName="productototal"
                  class="form-control form-control-sm border focus-ring" 
                  [class.border-success]="this.form.get('productototal')?.valid"
                  [class.focus-ring-success]="this.form.get('productototal')?.valid"
                  [class.border-danger]="this.form.get('productototal')?.invalid && this.form.get('productototal')?.touched"
                  [class.focus-ring-danger]="this.form.get('productototal')?.invalid && this.form.get('productototal')?.touched" mask="0000">                  
            <i *ngIf="this.form.get('productototal')?.invalid && this.form.get('productototal')?.touched" 
                  class="position-icon-input bi bi-exclamation-circle-fill text-danger"
                  title="Campo requerido"></i> 
          </div>
        </div>        
      </div>
    </div>    
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">  
    <button class="btn btn-sm btn-default" mat-button mat-dialog-close>Cancelar</button>
    <button type="submit" class="btn btn-sm btn-warning" 
            [disabled]="form.invalid"
            *ngIf="data.habilitar">
            <i class="bi bi-plus-circle"></i>&nbsp;Agregar
    </button>
  </div>
</form>