.circle_active{
    width: 40px; 
    height: 40px;
    background-color: #11478A;
    color: white;
    font-size: 1.4rem;
    margin: auto; 
    text-align: center;
    padding-top:10px;
}

.circle_inactive{
    width: 40px; 
    height: 40px;
    background-color: #AAAAAA;
    color: white;
    font-size: 1.4rem;
    margin: auto; 
    text-align: center;
    padding-top:10px;
}

.circle_inactive:hover{
    width: 40px; 
    height: 40px;
    background-color: #E8B835;
    color: white;
    cursor: pointer;
}

.line_circle {
    position: absolute;    
    top: 10px; 
    width: 29px; 
    height: 320px; 
    border-right: 2px solid #aaaaaa; 
    z-index: 1
}
.example-margin {
    margin: 10px;
  }
  .title-table{
    color: black; 
    background-color: white;
  }
  .barra-title{
    border-left: 8px solid #11478A;
    color: #11478A;
    font-size: 1.2rem;
}
.sombra-tabla{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
                0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.position-icon-input2{
    position: absolute; 
    top:2px; 
    right: 16px
}