<div class="row mt-4">

  <div class="col-12">
    <table class="table table-sm table-borderless align-middle" style="font-size: 11px;">
      <thead class="m-2">
        <tr>
          <td colspan="27" class="bg-secondary-subtle px-3 borde-xy">            
            <button type="button" class="btn btn-success btn-sm rounded-pill" 
                title="Agregar construcción" (click)="Agregar()">
              <i class="bi bi-plus-circle"></i>&nbsp;Agregar
            </button>
          </td>
        </tr>
        <tr>
          <td rowspan="2" scope="row" class="text-center align-middle bg-secondary-subtle fw-bold borde-xy" style="width: 100px;">Acción
          </td>

          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">55</td>
          <td class="text-center bg-info no-borde borde-x borde-t"></td>

          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">56</td>
          <td class="text-center bg-info no-borde borde-x borde-t"></td>

          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">57</td>
          <td colspan="3" class="text-center bg-info no-borde border-x borde-t">FECHA CONST.</td>

          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">58</td>
          <td class="text-center bg-info borde-x borde-t"></td>

          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">59</td>
          <td class="text-center bg-info borde-x borde-t"></td>

          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">60</td>
          <td class="text-center bg-info borde-x borde-t"></td>

          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">61</td>
          <td class="text-center bg-info borde-x borde-t">PRODUCTO</td>

          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">62</td>
          <td class="text-center bg-info borde-x borde-t">UNIDAD</td>
          
          <td class="text-center bg-secondary fw-bold ancho-column borde-xy">63</td>
          <td class="text-center bg-info borde-x borde-t"></td>
        </tr>
        <tr>
          <td colspan="2" class="text-center bg-info borde-x borde-b">CÓDIGO</td>
          <td colspan="2" class="text-center bg-info borde-x borde-b">DESCRIPCIÓN</td>
          <td colspan="2" class="text-center bg-info borde-xy">MES</td>
          <td colspan="2" class="text-center bg-info borde-xy">AÑO</td>
          <td colspan="2" class="text-center bg-info borde-x borde-b">MEP</td>
          <td colspan="2" class="text-center bg-info borde-x borde-b">ECS</td>
          <td colspan="2" class="text-center bg-info borde-x borde-b">ECC</td>
          <td colspan="2" class="text-center bg-info borde-x borde-b">TOTAL</td>
          <td colspan="2" class="text-center bg-info borde-x borde-b">DE MEDIDA</td>
          <td colspan="2" class="text-center bg-info borde-x borde-b">UCA</td>
        </tr>        
      </thead>
      <tbody>
        <tr *ngFor="let b of inputSeccion">
          <td class="text-center align-middle alto-column borde-xy">
            <button type="button" class="btn btn-primary btn-sm rounded-circle" 
              title="Modificar" (click)="Editar(b)">
              <i class="bi bi-pencil"></i>
            </button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm rounded-circle" 
              title="Borrar" (click)="Borrar(b)">
              <i class="bi bi-trash3"></i>
            </button>
          </td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c55Codigo}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c56Descripcion}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c57FechaMes}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c57FechaAnio}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c58Mep}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c59Ecs}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c60Ecc}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c61ProductoTotal}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c62UnidadMedida}}</td>
          <td colspan="2" class="borde-xy text-center align-middle">{{b.c63Uca}}</td>
        </tr>
      </tbody>
    </table>                                                
  </div>
</div>
<!-- <mat-divider></mat-divider>
<div class="row mt-3">
  <div class="col col-12 text-end">
    <button class="btn btn-primary btn-sm bg-cofopri"
    [disabled]="btnNextDisabled" (click)="Guardar()">
    <i class="bi bi-database-check"></i>&nbsp;Guardar
    </button>
  </div>
</div> -->