  <div class="d-flex flex-column h-100" style="background-color: white;">
    <div class="d-flex  justify-content-center h-100">
        <div class="d-flex  align-items-center">
            <div style="position: relative;" class="w-100">
                <div style="position: absolute; top:-90px; left:-350px; width: 700px; height: 180px;">                    
                    <div class="row">
                        <div class="col-md-3">
                            <img width="150px" src="../../../../../assets/image/denegado.jpg" />                            
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fs-2 fw-bold">ACCESO DENEGADO</p>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-6 fw-light">Usted no tiene los permisos necesarios para ingresar a este lugar del sistema.</p>
                                    <p class="fs-6 fw-light">Solicite los permisos necesarios al administrador del sistema e inicie sesión nuevamente.</p>
                                    
                                </div>
                                <mat-divider class="mb-3"></mat-divider>
                                <div class="col-md-12">
                                    <button mat-raised-button color="primary"
                                        (click)="inicio($event)">
                                        <mat-icon>home</mat-icon>
                                        Inicio
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute" style="bottom: 10px; left:10px; width: 200px; height: 150px;">
        <img mat-card-lg-image width="150px" src="../../../../../assets/image/logoTrans.png" >
    </div>
  </div>
