/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
    overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.bg-cofopri{
    background-color: #eb1e23;
}
.text-cofopri{
    color: rgb(88, 89, 91);
}
.text-50{
    color: #a7a4a0;
}
.title_navbar{
    font-family: 'Roboto Condensed', sans-serif;
}
.position-icon-select{
    position: absolute; 
    top:4px; 
    right: 45px
}
.position-icon-input{
    position: absolute; 
    top:4px; 
    right: 16px
}
.ancho-column{
    width: 26px;
  }
  .alto-column{
    height: 26px;
  }

.mat-mdc-snack-bar-container{
    --mdc-snackbar-container-color: white;
    --mdc-snackbar-supporting-text-color: black;
    --mat-snack-bar-button-color: #15448b;
    border: #15448b;
    color: black;
}

.succesful{
    margin-top: 78px !important;
    margin-right: 28px !important;
    position: absolute;
}

.mdc-linear-progress__bar-inner {  
    border-color: rgb(235, 30, 35) !important;
    }

    .btn-custom {
        color: #0055ff;
        border-color: #b1b1b1;
      }
      .btn-custom:hover {
        color: #0055ff;
        border-color: #0055ff;
        background-color: white;   
      }

      .btn-custom-danger {
        color: #ff0303;
        border-color: #b1b1b1;
      }
      .btn-custom-danger:hover {
        color: #ff0303;
        border-color: #ff0303;
        background-color: white;   
      }      