<form [formGroup]="form">
  <div class="col-md-12 my-3">
    <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0">
          <mat-expansion-panel-header 
          [collapsedHeight]="customCollapsedHeight" 
          [expandedHeight]="customExpandedHeight">
            <mat-panel-title>
              Filtros de búsqueda
            </mat-panel-title>        
          </mat-expansion-panel-header>
          <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
          <div class="row">
            <div class="col-12 mt-1">
              Departamento:
            </div>
            <div class="col-12" style="position: relative;">
              <input type="text" formControlName="departamento" 
                      class="form-control form-control-sm border">
            </div>      
          </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
          <div class="row">
            <div class="col-12 mt-1">
              Provincia:
            </div>
            <div class="col-12" style="position: relative;">
              <input type="text" formControlName="provincia" 
                      class="form-control form-control-sm border">
            </div>      
          </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
          <div class="row">
            <div class="col-12 mt-1">
              Distrito:
            </div>
            <div class="col-12" style="position: relative;">
              <input type="text" formControlName="distrito" 
                      class="form-control form-control-sm border">
            </div>      
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
              <div class="row">
                <div class="col-12 mt-1">
                  Sector:
                </div>
                <div class="col-12" style="position: relative;">
                  <select name="sector" #SelSect
                    formControlName="sector"
                    (change)="onChangeSelSector(SelSect.value)"
                    class="form-select form-select-sm border"
                    aria-label="select-sector">
                    <option *ngFor="let sec of sectores" [value]="sec.idSector">{{ sec.codigoSector }}</option>
                  </select> 
                </div>      
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
              <div class="row">
                <div class="col-12 mt-1">
                  Manzana:
                </div>
                <div class="col-12" style="position: relative;">
                  <select name="manzana"
                    formControlName="manzana"
                    class="form-select form-select-sm border"
                    aria-label="select-manzana">
                    <option *ngFor="let man of manzanas" [value]="man.idManzana">{{ man.codigoManzana }}</option>
                  </select> 
                </div>      
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
              <div class="row">
                <div class="col-12 mt-1">
                  Estado:
                </div>
                <div class="col-12" style="position: relative;">
                  <select name="estado"
                    formControlName="estado"
                    class="form-select form-select-sm border"
                    aria-label="select-estado">
                    <option *ngFor="let est of listaEstadosOrden" [value]="est.value">{{ est.text }}</option>
                  </select> 
                </div>      
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-1">
              <div class="row">
                <div class="col-12 mt-4">
                  <button class="btn btn-danger btn-sm bg-cofopri" (click)="buscar()">
                    <i class="bi bi-search"></i>&nbsp;&nbsp;Buscar
                  </button>
                </div>     
              </div>
            </div>            
          </div>                  
        </mat-expansion-panel>
      </mat-accordion>        
    </div>
</form>

  