
    <app-breadcrumb [Data]="BreadcrumbForm"></app-breadcrumb>

    <app-title [Data]="tituloForm"></app-title>

    <app-info-orden [datos]="datos"></app-info-orden>

    <app-bandeja-lote></app-bandeja-lote>
    <!-- <mat-card class="mt-2">
        <mat-card-content>
            <div class="row mb-2">
                <div class="col-12">
                    <mat-chip-listbox aria-label="Personal asignado">
                        <span class="mx-2 mt-2 fw-bold">Personal Asignado:</span>
                        <mat-chip color="primary" *ngFor="let info of datos.usuarios">
                            <i class="bi bi-person-fill"></i>&nbsp;{{info.persona}}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row my-2">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 mt-1 fw-bold">Sector:</div>
                        <div class="col-3 ">                         
                            <mat-chip-listbox aria-label="Personal asignado">
                                <mat-chip color="primary">01</mat-chip>
                            </mat-chip-listbox>
                        </div>
                        <div class="col-3 mt-1 fw-bold">Fecha asignación:</div>
                        <div class="col-3">
                            <mat-chip-listbox  aria-label="Personal asignado">
                                <mat-chip color="primary">04/10/2023 18:48</mat-chip>
                            </mat-chip-listbox>                            
                        </div>                        
                    </div>                    
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-2">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 mt-1 fw-bold">Manzana:</div>
                        <div class="col-3">
                            <mat-chip-listbox  aria-label="Personal asignado">
                                <mat-chip color="primary">001</mat-chip>
                            </mat-chip-listbox>
                        </div>
                        <div class="col-3 mt-1 fw-bold">Estado:</div>
                        <div class="col-3">
                            <mat-chip-listbox  aria-label="Personal asignado">
                                <mat-chip color="primary">ENVIADO</mat-chip>
                            </mat-chip-listbox>
                        </div>                        
                    </div>                    
                </div>
            </div>

        </mat-card-content>
    </mat-card> -->

    <!-- <app-panel-filter-seguimiento [sectores]="sectores"></app-panel-filter-seguimiento>

     -->


  